<div class="web-center">
    <div class="w-75 mt-5">
        <div class="row">
            <div class="col-md-8 web-left">
                <div>
                    <div class="t-color">ABOUT US</div>
                    <div class="fm-rubik mt-3 text-color" style="width: 85%;">
                        At NutriGenic, we are committed to transforming the meal delivery experience with a focus on
                        <span class="fw-bold">excellence</span> and <span class="fw-bold">innovation</span>. Our mission
                        is to provide a culinary journey <span class="fw-bold">unlike any other</span>,
                        offering exquisitely crafted, <span class="fw-bold">premium quality meals</span> developed by
                        renowned executive chefs in the
                        culinary world. Every dish is a testament to our dedication to <span class="fw-bold">exceptional
                            taste</span> and utmost
                        nutritional care. We <span class="fw-bold">meticulously</span> craft each meal to meet specific
                        dietary and fitness needs,
                        harnessing the power of advanced analytics and the expertise of qualified nutritionists and
                        fitness professionals to support our customers' wellness goals. With a focus on
                        <span class="fw-bold">culinary artistry</span>
                        and <span class="fw-bold">nutritional precision</span>, we are reshaping the way people
                        experience and enjoy
                        convenient, high-quality dining, one meal at a time.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../../../assets/images/about-us-dish-top1.png" class="w-100" alt="">
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <img src="../../../../assets/images/about-us-spicy.png" class="w-100" alt="">
        </div>
        <div class="col-md-6 web-right mt-3">
            <div class="fm-rubik text-color" style="width: 85%;">
                We are an elite team of food, nutrition and fitness experts, driven by a firm commitment to
                sustainability in every aspect of our operations. Our dedicated focus on sustainability encompasses
                every step, from responsibly sourcing environmentally friendly materials to reducing waste and
                minimizing our carbon footprint. We integrate these sustainable practices as fundamental elements of
                our
                business model, striving to protect natural resources and lessen our impact on the planet. Moreover,
                this dedication extends to our partnerships and suppliers, collaboratively promoting environmentally
                conscious practices across our entire supply chain.
            </div>
            <div class="mt-2">
                <app-orange-button></app-orange-button>

            </div>
        </div>
        <div class="col-md-3">
            <img src="../../../../assets/images/about-us-cakes.png" class="w-50" alt="">
        </div>
    </div>
    <div class="secondDiv">
        <p class="mt-4 t-color">CORE VALUES</p>
        <div class="web-center mt-5">
            <div *ngFor="let item of coreValues" class="d-flex mt-3 web-left coreValuesmargin fm-rubik text-color"
                style="width: 65%;opacity: 1;cursor: pointer;" (mouseover)="hoveredCoreValue = item.title"
                (mouseout)="hoveredCoreValue = null"
                [style.opacity]="hoveredCoreValue === item.title ? '1' : (hoveredCoreValue === null ? '1' : '0.3')">
                <img [src]="item.imgUrl" style="width: 110px;height: 110px;" alt="">
                <div class="responsiveFont coreValuesItem">
                    <span>{{item.title}}</span>
                    <br />
                    <span>{{item.subTitle}}</span>
                </div>
                <div class="web-left responsiveFont">{{item.description}}</div>
            </div>
            <div class="mt-2 mb-2">
                <app-orange-button></app-orange-button>
            </div>
        </div>
    </div>
    <div class="w-75 row ourFounderMargin">
        <div class="col-md-8 web-left">
            <div class="t-color">OUR FOUNDER</div>
            <div class="mt-3 fm-rubik text-color">Our culinary journey began with the vision of our
                passionate founder,
                Taoufik Hannachi, an accomplished professional chef with 18 years of
                experience in the culinary world. His culinary expertise and dedication to
                crafting exceptional meals form the cornerstone of our mission. Inspired by
                a commitment to excellence and a love for creating memorable dining
                experiences, Taoufik leads our team of food and fitness professionals. His
                innovative spirit and unwavering dedication to customer satisfaction have
                propelled us to redefine the meal delivery experience.
            </div>
            <div>
                <img src="../../../../assets/images/about-us-line.png" class="w-50 mt-5" />
            </div>
        </div>
        <div class="col-md-4 mt-5" style="z-index: 3;">
            <img src="../../../../assets/images/about-us-replace.png" class="w-100" />
        </div>
    </div>
    <div class="thirdDiv" style="z-index: 0;">
        <div class="d-flex w-50">
            <div class="mt-5" style="width: 80px;height: 80px;margin-left: 5rem;margin-right: 2rem;"><img
                    src="../../../../assets/images/about-us-quote.png" class="w-100" /></div>
            <div class="web-left mt-5 fm-rubik text-color" style="font-style: italic;">
                From a young age, my interest lay in the joy of life, food, the ultimate happiness. My mother, the
                inspiring artwork, indulged my curiosity from a tender age and nurtured this inquisitiveness into a
                hunger. The rules I learned at my mother’s stove laid the unwavering foundation for my desire to be
                involved in food throughout my life.
                Food is my passion. Food is what resonates most deeply with me, with my core, with my sense of self.
            </div>
        </div>
        <div class="my-5 mt-5 web-left" style="margin-left: 7rem;">
            <img src="../../../../assets/images/Taoufik-Hannachi.png" 
            style="width: 18.929rem;height: 3.214rem;" alt="">
        </div>
    </div>
    <div class="row z-1 justify-content-center our-team">
        <div class="col-md-1 mx-4" style="margin-top: 1rem;">
            <img src="../../../../assets/images/about-us-our-team.png" style="opacity: 0.3;" class="w-100" alt="">
        </div>
        <div class="col-md-1 mx-4" style="margin-top: 4rem;">
            <img src="../../../../assets/images/about-us-our-team.png" style="opacity: 0.5;" class="w-100" alt="">
        </div>
        <div class="col-md-1 mx-4" style="margin-top: 7rem;">
            <img src="../../../../assets/images/about-us-our-team.png" style="opacity: 0.7;" class="w-100" alt="">
        </div>
        <div class="col-md-1 mx-4" style="margin-top: 10rem;">
            <img src="../../../../assets/images/about-us-our-team.png" style="opacity: 1;" class="w-100" alt="">
        </div>
        <div class="col-md-1 mx-4" style="margin-top: 7rem;">
            <img src="../../../../assets/images/about-us-our-team.png" style="opacity: 0.7;" class="w-100" alt="">
        </div>
        <div class="col-md-1 mx-4" style="margin-top: 4rem;">
            <img src="../../../../assets/images/about-us-our-team.png" style="opacity: 0.5;" class="w-100" alt="">
        </div>
        <div class="col-md-1 mx-4" style="margin-top: 1rem;">
            <img src="../../../../assets/images/about-us-our-team.png" style="opacity: 0.3;" class="w-100" alt="">
        </div>
    </div>
    <div class="w-50 mt-5">
        <div class="t-color">
            OUR TEAM
        </div>
        <div class="web-left mt-5 text-color fm-rubik">
            Our chefs, nutritionists and fitness professionals bring a wealth of experience and knowledge to every meal
            we craft. They are dedicated to ensuring that each dish not only delights the palate but also aligns with
            our customers' wellness objectives.
            Together, we are reshaping the meal delivery experience through a shared passion for excellence, creativity,
            and unwavering dedication to our customers' well-being.
        </div>
        <div class="fw-bold my-5 text-color fm-rubik">
            Join us as we embark on this flavourful and nourishing journey.
        </div>
        <div class="mb-5">
            <app-orange-button></app-orange-button>
        </div>
    </div>
</div>