@media screen and (min-width: 1700px) {
.coreValuesItem {
  margin-right: 3rem;
  min-width: 150px;
}

.coreValuesmargin{
  margin-top: 6rem !important;
}

.ourFounderMargin{
  margin-top: 74rem !important;
}
.text-color {
  color: #5D5D66;
  font-size: 1.429rem;
  font-weight: 300;
}

.our-team{
  margin-top: 5rem;
}

}

@media screen and (max-width: 1699px) {

  .text-color {
    color: #5D5D66;
    font-size: 1.1rem;
    font-weight: 300;
  }

.coreValuesItem {
  margin-right: 2rem;
  min-width: 100px;
}
.ourFounderMargin{
  margin-top: 47rem !important;
}
.our-team{
  margin-top: 10rem;
}
}

.secondDiv {
  padding: 20px;
  position: absolute;
  width: 100%;
  margin-top: -9%;
  border-radius: 15%;
  background-color: white;
  text-align: center;
  z-index: 2;
}

.thirdDiv {
  padding: 20px;
  position: absolute;
  width: 100%;
  margin-top: -15%;
  border-radius: 15%;
  background-color: white;
  text-align: center;
  z-index: 2;
}


.shadow {
  box-shadow: 0.5rem 0.25rem 1rem #A9A9C6  !important;
}