<div id="layoutHome" class="web-center">
    <div style="width: 90%;">
        <div class="d-flex justify-content-center mt-4" style="align-items: center;"
            *ngIf="planOrderDetails.type === 'Commit'">
            <i class="text-black mx-3 pi pi-angle-double-left" style="font-size: 1.5rem;"></i>
            <div>
                <button class="btn fm-prompt px-3"
                    style="background-color: #DFDFEF;font-size: 1.143rem;font-weight: bold;border-radius: 12px;">I°
                    Week</button>
            </div>
            <i class="text-black mx-3 pi pi-angle-double-right" style="font-size: 1.5rem;"></i>
        </div>
        <div class="mt-4 web-left row">
            <div class="col-md-2">
                <span>First delivery on</span>
                <br>
                <span>18ᵗʰ February >></span>
            </div>
            <div class="col-md-8">
                <button *ngFor="let item of tabItems" (click)="shopCategoryChange(item.id)"
                    [style.background-color]="selectedTab === item.id ? '#dfdfef' : 'white'"
                    (click)="selectedTab = item.id" class="btn btn-primary mt-2 mx-2 categoriesButton"
                    style="font-size: 1.143rem;">
                    {{ item.name }}
                </button>
            </div>
            <div class="col-md-2">
                <span class="p-input-icon-left w-100">
                    <i class="pi pi-search" style="font-size: 1rem;font-weight: bold;color: #5D5D66;"
                        *ngIf="searchIcon"></i>
                    <input type="text" class="p-2 input-promo mainLoginInput fm-rubik" placeholder="Search meal"
                        style="font-size: 1rem;font-weight: bold;color: #5D5D66;" (input)="inputTextChange($event)"
                        [(ngModel)]="search" />
                </span>
            </div>
        </div>
        <div class="w-100 row mt-4 row mb-5" style="max-width: 100%;">
            <ng-container *ngFor="let item of filteredMeals">
                <ng-container *ngTemplateOutlet="
        listCards;
        context: { $implicit: item }
      "></ng-container>
            </ng-container>

        </div>
    </div>
</div>

<ng-template #listCards let-item>
    <div class="mb-3 position-relative responsiveFont fm-rubik"
        [class]="isDesktop ? 'col-md-3' : isTablet ? 'col-md-6' : 'col-md-12' ">
        <div class="card shadow p-3" style="cursor: pointer;" (click)="showMealInPopup(item)">
            <div class="">
                <img class="w-100" [src]="item.image_path" style="border-radius: 12px 12px 0 0;" />
            </div>
            <div class="card-body web-left p-0">
                <div class="fw-bold mt-3" style="font-size: 1.143rem;">
                    {{item.name}}
                </div>
                <div class="web-left mt-2" style="font-size: 1rem;">
                    <div>
                        <span>{{ item.description }}</span>
                        <!-- <span class="fw-bold" style="cursor: pointer;" *ngIf="item.description && !item.moreEnabled"
                            (click)="item.moreEnabled = !item.moreEnabled"> more ></span> -->
                    </div>
                    <div class="mt-2 fm-rubik w-100"  [ngClass]="isDesktop || isTablet ? 'd-flex' : ''" *ngIf="!item.isAdded">
                        <div class="d-flex" [ngClass]="isMobile ? 'w-100' : 'w-50'">
                            <div class="plan-detail">
                                <span>Energy:</span>
                                <br />
                                <span style="font-weight: bold;">{{ item.energyKcal }} Kcal</span>
                            </div>
                            <div class="plan-detail">
                                <span>Protein:</span>
                                <br />
                                <span style="font-weight: bold;">{{ item.protein }} gr</span>
                            </div>
                            <div class="plan-detail">
                                <span>Carbs:</span>
                                <br />
                                <span style="font-weight: bold;">{{ item.availableCarbohydrate }} gr</span>
                            </div>
                        </div>
                        <div class="d-flex" [ngClass]="isMobile ? 'w-100 mt-4' : 'w-50'">
                            <div class="plan-detail">
                                <span>Sugar:</span>
                                <br />
                                <span style="font-weight: bold;">{{ item.sugars }} gr</span>
                            </div>
                            <div class="plan-detail">
                                <span>Fats:</span>
                                <br />
                                <span style="font-weight: bold;">{{ item.fat }} gr</span>
                            </div>
                            <div class="plan-detail">
                                <span>Salts:</span>
                                <br />
                                <span style="font-weight: bold;">{{ item.sodium }} gr</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="web-left mt-2" style="font-size: 1rem;" *ngIf="item.isAdded">
                    <span>Alergies</span>
                    <i class="pi pi-info-circle" style="font-size: 0.8rem;margin-left: 0.5rem;cursor: pointer;"
                        [pTooltip]="item.alergies" tooltipPosition="top" placeholder="Top"></i>
                </div>
                <div class="fw-bold mt-4" *ngIf="item.isAdded">
                    <button class="btn btn-dec-ourshop p-0" (click)="decreaseCount($event,item.id)"
                        style="margin-right: 0.5rem;">
                        <i class="pi pi-minus fw-bold" style="padding: 0.6rem;
                        font-size: 0.8rem;color: #EF870A;"></i>
                    </button>
                    <span> {{item.count}} </span>
                    <button class="btn btn-primary btn-add-to-cart p-0" (click)="increaseCount($event,item.id)"
                        style="margin-left: 0.5rem;border-radius: 25px;">
                        <i class="pi pi-plus fw-bold" style="padding: 0.6rem;
                        font-size: 0.8rem;"></i>
                    </button>
                    <button class="btn btn-primary fw-bold fm-prompt"
                        [ngClass]="item.isAdded ? 'btn-added' : 'btn-add-to-cart'" style="float: right;font-size: 1rem;"
                        (click)="addToCart(item.id)">{{item.isAdded ? 'Added'
                        : 'Add to cart'}}</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<p-dialog [visible]="AddedMeals.length > 0 && mealPopUpVisibility === false" [position]="'bottom'"
    [style]="{ width: '100%' }">
    <div style="padding-top: 1rem;" [style]="isDesktop ? 'width: 85%;' : 'width: 95%'">
        <div class="fm-rubik justify-content-center mb-5" style="align-items: center;font-size: 1.143rem;" [ngClass]="isMobile && (amountTrigger || selectedMealsTrigger) ? '' : 'd-flex'">
            <div [ngClass]="isDesktop ? 'd-flex w-50' : ''">
                <div class="mx-auto" [ngClass]="isTablet || isMobile ? 'd-flex w-100' : ''">
                    <div [style]="!isDesktop ? 'margin-right: 1rem' : ''">
                        <span class="fw-bold t-black">{{planOrderDetails.weeks}} </span>
                        <span class="fw-bold t-black"> week</span>
                        <span> plan</span>
                    </div>
                    <div [style]="!isDesktop ? 'margin-right: 1rem' : ''">
                        <span class="fw-bold t-black">{{planOrderDetails.mealPerDay}}</span>
                        <span class="fw-bold t-black"> meals</span>
                        <span> ×</span>
                        <span class="fw-bold t-black"> {{planOrderDetails.dayPerWeek}}</span>
                        <span class="fw-bold t-black"> days</span>
                    </div>
                    <div>
                        <img src="../../../../assets/images/pencil.png" style="height: 14px;width: 14px;" alt="">
                        <span class="mx-2">edit</span>
                    </div>
                </div>
                <div class="mx-auto web-left">
                    <div class="mb-2">
                        <span class="t-black" style="font-size: 3.357rem;">{{AddedMeals.length}}</span>
                        <span class="fw-bold t-black"> meals selected</span>
                        <i class="pi mx-1 fs08" style="cursor: pointer;font-size: 1.5rem;"
                            (click)="showCheckoutDetails('selectedMeals')"
                            [ngClass]="selectedMealsTrigger ? 'pi-angle-up' : 'pi-angle-down'"></i>
                    </div>
                    <div *ngIf="selectedMealsTrigger">
                        <div *ngFor="let item of AddedMeals" class="mb-1">
                            <span style="margin-right: 1rem;font-style: italic;">{{item.name}}</span>
                            <span class="fm-rubik-bold" style="float: right;">×{{item.count}}</span>
                        </div>
                        <p-divider></p-divider>
                        <div class="d-flex justify-content-center" style="align-items: center;">
                            <i class="text-black mx-3 pi pi-angle-double-left" style="font-size: 1.5rem;"></i>
                            <div>
                                <button class="btn fm-prompt px-3"
                                    style="background-color: #DFDFEF;font-size: 1.143rem;font-weight: bold;border-radius: 12px;">I°
                                    Week</button>
                            </div>
                            <i class="text-black mx-3 pi pi-angle-double-right" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="mx-auto" *ngIf="isDesktop">
                <span style="font-style: italic;">Select 2 more</span>
                <div>
                    <i class="pi circleIcon m-1 pi-circle-fill" style="font-size: 0.5rem;"></i>
                    <i class="pi circleIcon m-1 pi-circle" style="font-size: 0.5rem;color: #9595a1;"></i>
                    <i class="pi circleIcon m-1 pi-circle" style="font-size: 0.5rem;color: #9595a1;"></i>
                </div>
            </div>
            <div class="mx-auto" [ngClass]="isMobile ? 'web-right' : ''">
                <div class="my-2">
                    <span *ngIf="!amountTrigger">You pay:</span>
                    <div>
                        <span class="fw-bold t-black">{{amountTrigger ? 'Cost details' : '£206.60'}}</span>
                        <i class="pi mx-1 fs08" style="cursor: pointer;font-size: 1.5rem;"
                            (click)="showCheckoutDetails('amount')"
                            [ngClass]="amountTrigger ? 'pi-angle-up' : 'pi-angle-down'"></i>
                    </div>
                </div>
                <div *ngIf="amountTrigger">
                    <div>
                        <span style="margin-right: 1rem;">Deliveries Fee</span>
                        <span style="float: right;">£87.00</span>
                    </div>
                    <p-divider></p-divider>
                    <div>
                        <span style="margin-right: 1rem;">Sub Total</span>
                        <span style="float: right;">£177.26</span>
                    </div>
                    <p-divider></p-divider>
                    <div>
                        <span style="margin-right: 1rem;">Discount</span>
                        <span style="float: right;">£43.27</span>
                    </div>
                    <p-divider></p-divider>
                    <div>
                        <span style="margin-right: 1rem;font-weight: bold;color: #2C2C30;">Total</span>
                        <span style="float: right;font-weight: bold;color: #2C2C30;">£206.60</span>
                    </div>
                    <p-divider></p-divider>
                </div>
            </div>
            <div *ngIf="!isMobile">
                <button class="btn btn-primary mt-4 fw-bold getStartButton fm-prompt-button">
                    <span>Checkout</span>
                    <img src="../../../../../assets/images/checkout.png"
                        style="height: 24px;width: 24px;margin-left: 0.5rem;" alt="">
                </button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="mealPopUpVisibility" [breakpoints]="{ '979px': '90vw' }" [styleClass]="'custom-dialog'"
    [style]="{ width: '40%' }" (onHide)="handleBlurFilter();">
    <ng-template pTemplate="header">
        <img [src]="showInPopUp.photo_path"
            style="width: 100%;height: 300px;border-radius: 25px 25px 0 0;border: none;">
    </ng-template>
    <div class="p-3 fm-rubik">
        <div class="fw-bold mt-3 web-left" style="font-size: 1.143rem;">
            {{showInPopUp.name}}
        </div>
        <div  class="web-left mt-2" style="font-size: 1rem;">
            <div>
                <span style="font-size: 1rem;">{{ showInPopUp.description }}</span>
            </div>
            <div class="mt-2">
                <span class="fw-bold">Allergens:</span>
                <span> {{showInPopUp.alergies}}</span>
            </div>
            <div class="mt-2 fm-rubik w-100"  [ngClass]="isDesktop || isTablet ? 'd-flex' : ''">
                <div class="d-flex" [ngClass]="isMobile ? 'w-100' : 'w-50'">
                    <div class="plan-detail">
                        <span>Energy:</span>
                        <br />
                        <span style="font-weight: bold;">{{ showInPopUp.energyKcal }} Kcal</span>
                    </div>
                    <div class="plan-detail">
                        <span>Protein:</span>
                        <br />
                        <span style="font-weight: bold;">{{ showInPopUp.protein }} gr</span>
                    </div>
                    <div class="plan-detail">
                        <span>Carbs:</span>
                        <br />
                        <span style="font-weight: bold;">{{ showInPopUp.availableCarbohydrate }} gr</span>
                    </div>
                </div>
                <div class="d-flex" [ngClass]="isMobile ? 'w-100 mt-4' : 'w-50'">
                    <div class="plan-detail">
                        <span>Sugar:</span>
                        <br />
                        <span style="font-weight: bold;">{{ showInPopUp.sugars }} gr</span>
                    </div>
                    <div class="plan-detail">
                        <span>Fats:</span>
                        <br />
                        <span style="font-weight: bold;">{{ showInPopUp.fat }} gr</span>
                    </div>
                    <div class="plan-detail">
                        <span>Salts:</span>
                        <br />
                        <span style="font-weight: bold;">{{ showInPopUp.sodium }} gr</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="fw-bold mt-4 d-flex position-relative">
            <div style="margin-left: 10%;">
                <button class="btn btn-dec-ourshop p-0"
                    (click)="showInPopUp.count = showInPopUp.count == 1 ? 1 : showInPopUp.count - 1"
                    style="margin-right: 0.5rem;">
                    <i class="pi pi-minus fw-bold" style="padding: 0.6rem;
            font-size: 0.8rem;color: #EF870A;"></i>
                </button>
                <span> {{showInPopUp.count}} </span>
                <button class="btn btn-primary btn-add-to-cart p-0" (click)="showInPopUp.count = showInPopUp.count + 1"
                    style="margin-left: 0.5rem;border-radius: 25px;">
                    <i class="pi pi-plus fw-bold" style="padding: 0.6rem;
            font-size: 0.8rem;"></i>
                </button>
            </div>

            <button class="btn btn-primary fw-bold fm-prompt btn-add-to-cart py-2"
                style="float: right;font-size: 1rem;width: 50%;position: absolute;right:0;"
                (click)="addToCart(showInPopUp.id)">Add</button>
        </div>
    </div>
</p-dialog>