:host ::ng-deep .p-dialog-header {
  background-color: #DFDFEF;
}

:host ::ng-deep .p-dialog-content {
  background-color: #DFDFEF;
}

:host ::ng-deep .custom-dialog .p-dialog-content {
  background-color: #F9F9FB;
  border-radius: 25px;
}

:host ::ng-deep .custom-dialog .p-dialog-header {
  background-color: #F9F9FB;
  border-radius: 25px;
}

:host ::ng-deep .custom-dialog .p-dialog {
  background-color: #F9F9FB;
  border-radius: 25px;
}

:host ::ng-deep .p-dialog {
  background-color: #F9F9FB;
  border-radius: 25px;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

::ng-deep .p-dialog-header {
  padding: 0 !important;
}

.categoriesButton {
  align-items: center;
  background-color: white;
  border: solid 1px #d7d7de;
  border-radius: 30px;
  color: #5D5D66;
  font-size: 1.1rem;
  font-weight: 300;
}

.mainLoginInput {
  border-radius: 20px;
  border: 1.5px solid #F1F1F3;
  background-color: #F9F9FB;
  float: right;
  max-width: 100%;
  min-width: 100%;
  height: 3.714rem;
}

.mainLoginInput::-webkit-input-placeholder {
  padding-left: 2rem;
}

.btn-add-to-cart {
  align-items: center;
  background-color: #EF870A !important;
  border: none;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-added {
  background-color: #dfdfef;
  padding-left: 2rem;
  padding-right: 2rem;
  color: black;
  border-radius: 10px;
  border: none;
}

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -100% 0;
  }

}

.btn-add-to-cart:hover {
  background-color: #F8A94A !important;
  background-image: linear-gradient(to right, #EF870A, #F8A94A);
  background-size: 200% 100%;
  animation: slideBackground 1s ease forwards;
  object-fit: contain;
  background-repeat: no-repeat;
}

.btn-dec-ourshop {
  align-items: center;
  background-color: white !important;
  border: solid 1.5px #EF870A;
  border-radius: 50px;
  color: black !important;
}

.fm-prompt-button {
  font-family: Prompt;
  font-size: 1.143rem;
  font-weight: 600;
  line-height: 1.728;
  letter-spacing: 0.04rem;
  text-align: center;
}


.getStartButton {
  align-items: center;
  background-color: black !important;
  border: none;
  border-radius: 15px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.getStartButton:hover {
  background-color: #5d5d66 !important;
  background-image: linear-gradient(to right, black, #5d5d66);
  background-size: 200% 100%;
  animation: slideBackground 1s ease forwards;
  object-fit: contain;
  background-repeat: no-repeat;
}

// :host ::ng-deep .custom-dialog .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
//   margin-right: 0;
//   display: block;
// }

:host ::ng-deep .p-divider-horizontal.p-divider-left {
  mix-blend-mode: multiply;
}

:host ::ng-deep .p-divider.p-divider-horizontal {
  margin: 0.5rem 0;
  padding: 0 0.5rem;
}

.t-black {
  color: #0F0F1F;
}

::ng-deep .p-tooltip .p-tooltip-text {
  background-color: #F9F9FB;
  color: #5D5D66;
}

.plan-detail-font {
  font-size: 0.857rem;
}

.plan-detail-font-dialog {
  font-size: 1.143rem;
}