

@media screen and (min-width: 1700px) {
  .responsiveFont {
    font-size: 1.4rem;
  }

  .blogFont{
    font-size: 2.286rem;
    font-weight: 600;
  }

  .categoriesButton {
    align-items: center;
    background-color: white;
    border: solid 1px #d7d7de;
    border-radius: 30px;
    color: #5D5D66;
    font-size: 1.143rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 980px) and (max-width: 1699px) {
  .responsiveFont {
    font-size: 1rem;
  }

  .blogFont{
    font-size: 2.286rem;
    font-weight: 600;
  }

  .categoriesButton {
    align-items: center;
    background-color: white;
    border: solid 1px #d7d7de;
    border-radius: 30px;
    color: #5D5D66;
    font-size: 1.1rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 501px) and (max-width: 979px) {
  .responsiveFont {
    font-size: 1rem;
  }

  .blogFont{
    font-size: 1.714rem;
    font-weight: 600;
  }

  .categoriesButton {
    align-items: center;
    background-color: white;
    border: solid 1px #d7d7de;
    border-radius: 30px;
    color: #5D5D66;
    font-size: 1.1rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 500px) {
  .responsiveFont {
    font-size: 1rem;
  }

  .blogFont{
    font-size: 1.571rem;
    font-weight: 600;
  }

  .categoriesButton {
    align-items: center;
    background-color: white;
    border: solid 1px #d7d7de;
    border-radius: 30px;
    color: #5D5D66;
    font-size: 1rem;
    font-weight: 300;
  }
}


.shadow {
  box-shadow: 0px 10px 30px 0px #6363B11A !important;
}

.blogText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu-container {
  width: 100vw;
  overflow-x: auto; 
  white-space: nowrap; 
}

.menu-list {
  padding-left: 0px;
  padding-right: 1rem;
  display: flex;
  list-style-type: none;
  margin: 0; 
}