.categoriesButton{
    align-items: center;
    background-color: white;
    border: solid 1px #d7d7de;
    border-radius: 30px;
    color: #5D5D66;
    font-size: 1.143rem;
    font-weight: 300;
}

@media screen and (min-width: 1700px) {
    .responsiveFont {
      font-size: 1.4rem;
    }
  }
  
  @media screen and (max-width: 1699px) {
    .responsiveFont {
      font-size: 1rem;
    }
  }

  .shadow {
    box-shadow: 0.5rem 0.5rem  1rem rgba(169, 169, 198, 0.2)  !important;
  }