.order-font{
    color: #0F0F1F;
    font-size: 1.143rem;
    }
    
    .mr05{
    margin-right: 0.5rem;
    }
    
    .mr3{
    margin-right: 3rem;
    }
    
    .overlay {
        position: absolute;
        top: -10px;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #F9F9FB;
        font-size: 0.857rem;
        color: #0F0F1F;
      }