.btn-apply {
    border: 1.5px solid black;
    border-radius: 20px;
    font-size: 1.143rem;
    font-weight: bold;
    padding-left: 1.429rem;
    padding-right: 1.429rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }