<div id="layoutHome" class="d-flex" [style]="isDesktop ? 'margin-left: 3rem;' : ''">
    <div class="">
        <div class="d-flex">
            <img src="../../../../assets/images/about-us-our-team.png" style="width: 134px;height: 134px;" alt="">
            <div style="margin-left: 2rem;margin-top: 1rem;font-size: 2rem;color: #0F0F1F;">
                <span>Hi,</span>
                <br />
                <span class="fw-bold">{{userProfile.first_name + ' ' + userProfile.last_name}}</span>
            </div>
        </div>
        <div *ngIf="apiLoaded && userProfile.weight === 0 && userProfile.photo_path === ''">
            <div class="mt-4">
                Add those information to help your Expert to track your progress and propose the best solution for you
            </div>
            <div class="mt-4">
                <button *ngFor="let item of addButtons" class="btn mt-2 fw-bold btn-apply"
                    style="font-size: 1.143rem;color: #311C02;" (click)="showBiometricPopup(item.id)">{{item.text}}
                </button>
            </div>
        </div>
        <div *ngIf="userProfile.weight > 0 || userProfile.photo_path !== ''">
            <div class="mt-5">
                <button *ngFor="let item of tabItems"
                    [style.background-color]="selectedTab === item ? '#dfdfef' : 'white'"
                    (click)="selectedTab = item" class="btn btn-primary mt-2 mx-2 categoriesButton">
                    {{ item }}
                </button>
                <button *ngIf="selectedTab === 'Weight'" class="btn mt-2 fw-bold btn-apply"
                    style="font-size: 1.143rem;color: #311C02;float: right;" (click)="showBiometricPopup('weight')">Add
                    today weight
                </button>
            </div>
            <div class="w-100 mt-4" style="height: 22rem;background-color: #D9D9D9;border-radius: 20px;"
                *ngIf="selectedTab === 'Weight' || selectedTab === 'BMI'">
            </div>
            <div class="w-100 mt-4 d-flex" style="display: flex; flex-direction: row; overflow-x: auto;"
                *ngIf="selectedTab === 'Pictures' || selectedTab === 'Blood test'">
                <div class="web-center mx-1" (dragover)="onDragOver($event)" (drop)="onDrop($event)"
                    style="width: 13.714rem;height: 18.357rem;border-radius: 20px;border: 1.5px #848790 dashed;">
                    <div class="mt-5">
                        <img src="../../../../../assets/images/image-upload.png" style="width: 48px;height: 48px;"
                            alt="" *ngIf="selectedTab === 'Pictures'">
                        <img src="../../../../../assets/images/file-upload.png" style="width: 48px;height: 48px;" alt=""
                            *ngIf="selectedTab === 'Blood test'">
                    </div>
                    <div class="fm-rubik mt-3" style="font-size: 1rem;color: #0F0F1F;">Drag and drop</div>
                    <div class="d-flex align-items-center" style="width: 70%;">
                        <p-divider class="flex-grow-1"></p-divider>
                        <span class="px-3 fm-rubik"
                            style="color: #B4B4BB; font-size: 0.7rem;font-weight: bold;">or</span>
                        <p-divider class="flex-grow-1"></p-divider>
                    </div>
                    <div>
                        <input #fileInput type="file" style="display: none;" (change)="onFileSelected($event)">
                        <button class="btn mt-2 fw-bold btn-apply" (click)="fileInput.click()"
                            style="font-size: 1.143rem;color: #311C02;margin-right: 0px;">Upload
                        </button>
                    </div>
                </div>
                <div style="width: 80%;" *ngIf="selectedTab === 'Pictures'">
                    <p-carousel [value]="photos" [numVisible]="2" [numScroll]="1" [circular]="false"
                        [style.width]="'100%'">
                        <ng-template let-item pTemplate="item">
                            <div class="web-center mx-1" (click)="downloadFile(item.path)"
                                style="height: 18.357rem;border-radius: 20px;border: 1.5px #848790 dashed;cursor: pointer;">
                                <img [src]="item.path" style="width: 100%;height: 100%;object-fit: contain;" alt="">
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
                <div style="width: 80%;" *ngIf="selectedTab === 'Blood test'">
                    <p-carousel [value]="bloods" [numVisible]="2" [numScroll]="1" [circular]="false"
                        [style.width]="'100%'">
                        <ng-template let-item pTemplate="item">
                            <div class="web-center mx-1" (click)="downloadFile(item.path)"
                                style="height: 18.357rem;border-radius: 20px;border: 1.5px #ECECEE solid;align-content: center;cursor: pointer;">
                                <img src="../../../../../assets/images/document-attachment.png" style="width: 84px;height: 84px;object-fit: contain;" alt="">
                                <div class="fm-rubik mt-5" style="font-size: 1rem;color: #5D5D66;">{{item.date}}</div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
            <div class="fm-rubik mt-3" style="color: #5D5D66;font-size: 1rem;">
                Add those information to help your Expert to track your progress and propose the best solution for you
            </div>
        </div>
    </div>
    <app-connect-card *ngIf="connectCardVisibility"></app-connect-card>
</div>

<p-dialog [(visible)]="addBiometricPopupVisibility" [style]="{ width: '23.857rem' }"
    (onHide)="onDialogHide()">
    <div class="web-center">
        <div class="fw-bold" style="font-size: 1.429rem;color: #0F0F1F;">Add your today {{biometricHeader}}</div>
        <div class="mt-4 d-flex justify-content-center" style="align-items: center;">
            <div class="col-md-3">
                <img src="../../../../../assets/images/weight-scale.png" style="height: 48px;width: 48px;" alt="">
            </div>
            <div class="col-md-5 web-left p-0">
                <span class="input-title">{{biometricField}}</span>
                <div class="">
                    <input type="text" [(ngModel)]="value" class="p-2 fw-bold input-promo fm-rubik w-100"
                        style="font-size: 2.286rem;color: #5D5D66;" pattern="\d{2}\.\d{2}" />
                </div>
            </div>
            <div class="col-md-2 mt-3" style="font-size: 1.714rem;color: #5D5D66;">
                {{biometricUnit}}
            </div>
        </div>
        <div class="mt-4 p-2" style="text-align: center;">
            <button class="btn w-100 fm-prompt fw-bold"
                style="color: white;background-color: #EF870A;font-size: 1.143rem;border-radius: 12px;padding-top: 0.5rem;padding-bottom: 0.5rem;"
                (click)="addUserWeight(biometricHeader)">
                Save</button>
        </div>
    </div>
</p-dialog>

<p-dialog header="Header" [(visible)]="addSportPopupVisibility" [style]="{ width: '60%' }" (onHide)="onDialogHide()">
    <ng-template pTemplate="header">
        <div class="mt-4 align-items-center justify-content-center w-100 text-center">
            <img src="../../../../../assets/images/arm.png" style="width: 43px;height: 43px;" alt="">
            <br>
            <br>
            <span class="fm-prompt fw-bold" style="font-size: 1.429rem;color: #0F0F1F;">Add your sports</span>
        </div>
    </ng-template>
    <p-divider></p-divider>
    <div class="align-items-center web-center w-100">
        <div class="w-50">
            <span class="p-input-icon-left w-100">
                <i class="pi pi-search" style="font-size: 1rem;font-weight: bold;color: #5D5D66;"
                    *ngIf="searchIcon"></i>
                <input type="text" class="p-2 input-promo mainLoginInput fm-rubik"
                    placeholder="Search for the sport you practice" style="font-size: 1rem;font-weight: bold;color: #5D5D66;"
                    (input)="inputTextChange($event)" [(ngModel)]="search" />
            </span>
        </div>
    </div>
    <div class="mt-3 p-4">
        <button *ngFor="let sport of sports" class="btn btn-primary mt-2 fm-rubik mx-2 sport-buttons"
            (click)="sport.selected = true" [style.background-color]="sport.selected ? '#DFDFEF' : 'white'">
            {{sport.sport}}
            <img *ngIf="sport.selected" src="../../../../../assets/images/selectedSport.png"
                style="margin-left: 0.7rem;width: 21.5px;height: 21.5px;" alt="">
        </button>
        <div class="mt-4 p-2" style="text-align: center;">
            <button class="btn fm-prompt fw-bold"
                style="color: white;background-color: #EF870A;font-size: 1.143rem;border-radius: 12px;padding-top: 0.5rem;padding-bottom: 0.5rem;width: 40%;"
                (click)="addUserWeight(biometricHeader)">
                Save</button>
        </div>
    </div>
    <p-dialog>