<div id="layoutHome" class="web-center">
    <div class="adaptiveImgHeight">
        <div class="row">
            <div class="col-md-3 adaptiveImgHeight">
                <div class="textbox">
                    <span class="" style="color: #2C2C30;">Exquisitely crafted meals</span>
                    <br />
                    <span class=""  style="color: #2C2C30;"> made of exemplary ingredients</span>
                    <br />
                    <span style="font-weight: 100;color: #2C2C30;font-size: 1.3rem;">and delivered to your home or place of
                        work</span>
                    <br />
                    <button class="btn btn-primary mt-4 fw-bold getStartButton fm-rubik-bold">
                        <span>Get started</span>
                        <i class="pi pi-arrow-right text-white arrow-icon"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-9 adaptiveImgHeight">
                <div class="imgMain">
                    <img src="../../../../../assets/images/home-top.png" class="w-100 h-100" alt="Your Image">
                </div>
                <div class="overlay adaptiveImgHeight"></div>
            </div>
        </div>
    </div>
    <div style="position: relative;">
        <div class="row mt-3">
            <div class="col-md-2 web-left">
                <div class="d-flex leftDish">
                    <img class="d-block w-100 object-fit-contain" src="../../../../assets/images/Dish-left.png">
                </div>
            </div>
            <div class="col-md-1 web-left">
                <div class="d-flex leftDish">
                    <img class="d-block object-fit-contain" src="../../../../assets/images/Line-1.png">
                </div>
            </div>
            <div class="col-md-7">
                <div class="w-75 web-left ourMission">
                    <span class="fm-prompt" style="color: #2C2C30;font-weight: 300;font-size: 2rem;">OUR MISSION</span>
                    <p class="mt-3 fm-rubik" style="color: #848790;font-weight: 400;">
                        We are dedicated to revolutionising the meal delivery experience<br /> by offering exquisitely
                        crafted
                        high
                        quality
                        meals developed by<br /> executive chefs renowned in the culinary world.
                    </p>
                    <p class="mt-4 fm-rubik" style="color: #848790;font-weight: 400;">
                        Our meals not only deliver exceptional taste, but are also<br /> meticulously tailored to meet
                        nutritional
                        needs,
                        leveraging<br /> cutting-edge analytics, the expertise of qualified nutritionists and<br />
                        fitness
                        professionals to
                        support
                        our customers' fitness goals.
                    </p>
                </div>
            </div>
            <div class="col-md-2 web-right">
                <div class="rightDish">
                    <img class="object-fit-contain w-100" src="../../../../assets/images/Dish-right.png">
                </div>
            </div>
        </div>
        <div class="secondDiv">
            <p class="mt-4" style="color: #5D5D66;font-size: 2.571rem;font-weight: 300;">Why choose Nutrigenic?</p>
            <div class="d-flex justify-content-center my-5 responsiveFont" style="color: #2C2C30;">
                <div class="user-icon">
                    <img src="assets/images/laurel-wreath-first.png" alt="User Icon">
                    <div class="pb-3 web-left">
                        <span class="">Exemplary</span>
                        <br />
                        <span class="">ingredients</span>
                    </div>
                </div>
                <div class="user-icon">
                    <img src="assets/images/user-star.png" alt="User Icon">
                    <div class="pb-3 web-left">
                        <span class="">Honest and</span>
                        <br />
                        <span class="">transparent</span>
                    </div>
                </div>
                <div class="user-icon">
                    <img src="assets/images/green-house.png" alt="User Icon">
                    <div class="pb-3 web-left">
                        <span class="">Envirormental</span>
                        <br />
                        <span class="">Conscious</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-5 responsiveFont" style="color: #2C2C30;">
                <div class="user-icon">
                    <img src="assets/images/location-user.png" alt="User Icon">
                    <div class="pb-3 web-left">
                        <span class="">Customer</span>
                        <br />
                        <span class="">Centric</span>
                    </div>
                </div>
                <div class="user-icon">
                    <img src="assets/images/halal.png" alt="User Icon">
                    <div class="pb-3 web-left">
                        <span class="">Halal</span>
                        <br />
                        <span class="">certified</span>
                    </div>
                </div>
                <div class="user-icon">
                    <img src="assets/images/user-group.png" alt="User Icon">
                    <div class="pb-3 web-left">
                        <span class="">Community</span>
                        <br />
                        <span class="">support</span>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary mt-2 mb-3 fw-bold getStartButton fm-rubik-bold">
                <span>Get started</span>
                <i class="pi pi-arrow-right text-white arrow-icon"></i>
            </button>
        </div>
    </div>
    <div class="web-center" style="margin-top: 400px;">
        <div>
            <p class="mt-4" style="color:#5D5D66;font-size: 2.571rem;font-weight: 300;">Who made us?</p>
        </div>
        <div class="d-flex justify-content-center">
            <div class="m-3" style="width: 15%;">
                <span class="mb-3"  style="color:#5D5D66;font-size: 1.429rem;font-weight: 300;">OUR CHEFS</span>
                <div class="card p-0 shadow">
                    <div class="card-body">
                        <img class="d-block mb-2 w-100 object-fit-contain" src="../../../../assets/images/chef.png">
                        <div>
                            <i class="pi pi-angle-left" style="font-size: 1.429rem;font-weight: 300;"></i>
                            <span class="mx-1 fm-rubik">name sure name</span>
                            <i class="pi pi-angle-right" style="font-size: 1.429rem;font-weight: 300;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-3" style="width: 15%;">
                <span class="mb-3"  style="color:#5D5D66;font-size: 1.429rem;font-weight: 300;">OUR EXPERTS</span>
                <div class="card p-0 shadow">
                    <div class="card-body">
                        <img class="d-block mb-2 w-100 object-fit-contain" src="../../../../assets/images/expert.png">
                        <div>
                            <i class="pi pi-angle-left" style="font-size: 1.5rem;"></i>
                            <span class="mx-1 fm-rubik">name sure name</span>
                            <i class="pi pi-angle-right" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3 web-center">
        <span style="color:#5D5D66;font-size: 1.429rem;font-weight: 300;">OUR PARTENERS</span>
        <div class="card mt-2 w-75 p-0 shadow">
            <div class="card-body">
                <span class="fm-rubik" style="color: #494646;font-size: 1.429rem;font-weight: 300;">Those who help us to delivery the best food and experience possible to you</span>
                <div class="d-flex mt-3 justify-content-center w-75">
                    <p-carousel [value]="images" [numVisible]="5" [numScroll]="1" [circular]="false"
                        [responsiveOptions]="responsiveOptions">
                        <ng-template let-item pTemplate="item">
                            <div class="partner-icon justify-content-center">
                                <img [src]="item" alt="User Icon">
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 p-2 mastrPlan">
        <p class="mt-5 fs-3" style="color: #5D5D66;font-size: 2.571rem;font-weight: 300;">Master Plan</p>
        <button *ngFor="let item of tabItems"
            [style.background-color]="selectedMasterTab === item ? '#dfdfef' : 'white'"
            (click)="selectedMasterTab = item" class="btn btn-primary mt-2 mx-2">
            {{ item }}
        </button>
        <div class="d-flex mt-3 responsiveWidth">
            <div class="templateStyles">
                <ng-container *ngFor="let item of masterPlanData">
                    <ng-container *ngTemplateOutlet="
                masterPlanCard;
                context: { $implicit: item }
              "></ng-container>
                </ng-container>
                <div class="pb-3">
                    <button class="btn btn-primary mt-2 mb-3 fw-bold getStartButton fm-rubik-bold text-white">
                        <span>Get started</span>
                        <i class="pi pi-arrow-right text-white arrow-icon"></i>
                    </button>
                </div>
                <div class="overlayMasterPlan"></div>
            </div>
        </div>
    </div>
    <div class="mt-5 w-75">
        <p-carousel [value]="comments" [numVisible]="5" [numScroll]="1" [circular]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-item pTemplate="item">
                <div class="card mx-2 p-0">
                    <div class="card-body p-3">
                        <div class="d-flex">
                            <div class="d-flex">
                                <div *ngFor="let i of [].constructor(item.stars)" class="commentStars">
                                    <i class="pi pi-star-fill text-white fs08"></i>
                                </div>
                            </div>
                            <div style="font-size: 0.4rem;margin-left: auto;">{{ item.time }}</div>
                        </div>
                        <div class="mt-2 web-left">
                            <div class="fw-bold fs08">
                                <span>{{item.title}}</span>
                            </div>
                            <div class="fs08">
                                <span>{{item.description}}</span>
                            </div>
                            <p-divider></p-divider>
                            <div class="fw-bold fs08">
                                <span>{{item.user}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="mt-4 p-2 helpSector">
        <p class="mt-5 fs-3" style="color: #2C2C30;font-size: 2.571rem;font-weight: 300;">We’re here to help!</p>
        <div class="mt-4 w-50 fm-rubik" style="font-size: 1.071rem;font-weight: 300;">
            <span>
                Feel free to reach out using any of the contact methods listed,
                and we'll get back to you within 24 hours.
            </span>
            <br />
            <span>
                For general questions, our FAQ page might have just what you're looking for!
            </span>
        </div>
        <div class="d-flex mt-4 mb-5 w-50 justify-content-center fm-rubik" style="font-size: 1.429rem;font-weight: 300;">
            <div class="m-auto">
                <button class="btn btn-primary mt-2 fw-bold helpButton">
                    <img src="../../../../assets/images/mail-open-love.png" style="max-width: 40px;min-height: 40px;" />
                </button>
                <div class="fw-bold mt-3">Email us?</div>
                <div class="mt-2">info@nutrigenic.co.uk</div>
            </div>
            <div class="m-auto">
                <button class="btn btn-primary mt-2 fw-bold helpButton">
                    <img src="../../../../assets/images/chatting-01.png" style="max-width: 40px;min-height: 40px;" />
                </button>
                <div class="fw-bold mt-3">Live Chat</div>
                <div class="mt-2">Leave a message</div>
            </div>
            <div class="m-auto">
                <button class="btn btn-primary mt-2 fw-bold helpButton">
                    <img src="../../../../assets/images/help-circle.png" style="max-width: 40px;min-height: 4px;" />
                </button>
                <div class="fw-bold mt-3">Have a question?</div>
                <div class="mt-2">Visit our FAQs page</div>
            </div>
        </div>
    </div>
</div>
<!-- templates -->
<ng-template #masterPlanCard let-item>
    <div class="card text-center mx-3 p-0 masterPlanCard">
        <div class="card-body d-flex">
            <div class="d-block masterPlanImg">
                <img class="d-block object-fit-contain w-100 h-100" [src]="item.imgUrl">
            </div>
            <div class="mx-4 web-left">
                <div class="fw-bold fs-4 fm-rubik">
                    <span style="color: #5D5D66;font-size: 1.571rem;font-weight: 400;">{{ item.title }}</span>
                </div>
                <div class="mt-2 fm-rubik">
                    <span style="color: #5D5D66;font-size: 1rem;font-weight: 300;">{{ item.description }}</span>
                </div>
                <div class="d-flex mt-2 fm-rubik">
                    <div class="">
                        <span>Calories:</span>
                        <br />
                        <span style="font-weight: bold;">{{ item.calories }}</span>
                    </div>
                    <div class="mx-3">
                        <span>Fats:</span>
                        <br />
                        <span style="font-weight: bold;">{{ item.fats }}</span>
                    </div>
                    <div class="mx-3">
                        <span>Protein:</span>
                        <br />
                        <span style="font-weight: bold;">{{ item.protein }}</span>
                    </div>
                    <div class="mx-3">
                        <span>Carb:</span>
                        <br />
                        <span style="font-weight: bold;">{{ item.carb }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>