.baseContainer {
  position: relative;
  display: flex;
  max-height: 350px;
}

@media screen and (min-width: 1700px) {
  .baseContainer {
    position: relative;
    display: flex;
    max-height: 550px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 60%);
}

.textbox {
  position: absolute;
  margin-top: 100px;
  margin-left: 10%;
  width: 25%;
  padding: 10px;
  z-index: 1;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
}

.getStartButton {
  align-items: center;
  background-color: #EF870A !important;
  border: none;
  border-radius: 10px;
}

.fs08 {
  font-size: 0.8rem;
}

.imgMain {
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  float: right;
}

@media screen and (max-width: 1030px) {
  .textbox {
    position: absolute;
    margin: 5%;
    width: 70%;
    padding: 10px;
    z-index: 1;
    font-family: Prompt;
    font-size: 1.3rem;
    font-weight: bold;
  }

}

.d-flex {
  display: flex;
  align-items: center;
}

.leftDish {
  width: 90%;
  min-width: 90%;
  height: auto;
  display: block;
}

.leftDish img {
  width: 35%;
  height: 20%;
}

.rightDish {
  width: 90%;
  min-width: 90%;
  right: 0px;
  margin-top: 3rem;
  height: auto;
  display: block;
  margin-top: 50%;
}


.mx-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.secondDiv {
  padding: 20px;
  position: absolute;
  width: 100%;
  margin-top: -5%;
  border-radius: 15%;
  background-color: white;
  text-align: center;
  z-index: 2;
}

.user-icon {
  display: flex;
  align-items: center;
  margin-right: 30px;
  min-width: 170px;
}

.user-icon img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 0px;
}

.partner-icon {
  align-items: center;
}

.partner-icon img {
  width: 50px;
  height: 50px;
  margin-right: 0px;
  object-fit: contain;
}

.mastrPlan {
  width: 100%;
  min-height: 320px;
  border-radius: 15%;
  background-color: white;
  text-align: center;
  position: relative;
  text-align: -webkit-center;
}

.mastrPlan button {
  min-width: 115px;
  align-items: center;
  background-color: white;
  border: solid 1px #d7d7de;
  border-radius: 30px;
  color: #5D5D66;
}

.templateStyles {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.commentStars {
  width: 20px;
  height: 20px;
  background-color: #219653;
  margin-right: 0.1rem;
}

.responsiveWidth {
  width: 90%;
  justify-content: center;
}

.helpSector {
  width: 100%;
  min-height: 320px;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  background-color: white;
  text-align: center;
  position: relative;
  text-align: -webkit-center;
}

.helpButton {
  align-items: center;
  background-color: #EF870A;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;

}

.horizontal-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.socialIcons {
  max-width: 18px;
  min-height: 18px;
  margin: auto;
}

.masterPlanCard {
  min-width: 45% !important;
  max-width: 45% !important;
}

.masterPlanImg {
  min-width: 120px;
  max-width: 140px;
  max-height: 140px;
  min-height: 120px;
}


.horizontal-menu li {
  display: inline-block;
  margin-right: 2rem;
  cursor: pointer;
  font-family: Prompt;
  font-size: 1.3rem;
  color: white;
}