<div class="web-center">
    <div class="baseContainer">
        <img src="../../../../../assets/images/home-top.png" class="imgMain" alt="Your Image">
        <div class="overlay"></div>
        <div class="textbox" style="text-align: left;">
            <span>Exquisitely crafted meals</span>
            <br />
            <span> made of exemplary </span>
            <br />
            <span>ingredients</span>
            <br />
            <span style="font-size: 0.8rem;">and delivered to your home or place of work</span>
            <br />
            <button style="align-items: center;background-color: #EF870A;border: none;border-radius: 10px;"
                class="btn btn-primary mt-2 fw-bold">Get started
                <i class="pi pi-arrow-right" style="color: white;font-size: 0.8rem;"></i>
            </button>
        </div>
    </div>
    <div>
        <div class="row mt-3" style="z-index: 1;">
            <div class="col-md-2" style="text-align: -webkit-left;">
                <div class="d-flex leftDish">
                    <img class="d-block" style="object-fit: contain;width: 100%;"
                        src="../../../../assets/images/Dish-left.png">                    
                </div>
            </div>
            <div class="col-md-1" style="text-align: -webkit-left;">
                <div class="d-flex leftDish">
                    <img class="d-block" style="object-fit: contain;width: 35%;height: 20%;"
                        src="../../../../assets/images/Line-1.png">                    
                </div>
            </div>
            <div class="col-md-7" style="text-align: -webkit-center;">
                <div style="width: 70%;text-align: left;">
                    <span class="fw-bold fs-3">OUR MISSION</span>
                    <p>
                        We are dedicated to revolutionising the meal delivery experience by offering exquisitely crafted
                        high
                        quality
                        meals developed by executive chefs renowned in the culinary world.
                    </p>
                    <p class="mt-4">
                        Our meals not only deliver exceptional taste, but are also meticulously tailored to meet
                        nutritional
                        needs,
                        leveraging cutting-edge analytics, the expertise of qualified nutritionists and fitness
                        professionals to
                        support
                        our customers' fitness goals.
                    </p>
                </div>
            </div>
            <div class="col-md-2" style="text-align: -webkit-right;">
                <div class="rightDish" style="margin-top: 50%;">
                    <img class="" style="object-fit: contain;width: 100%;"
                        src="../../../../assets/images/Dish-right.png">
                </div>
            </div>
        </div>
        <div class="secondDiv"
            style="margin-top: -5%;border-radius: 15%;background-color: white;text-align: center; z-index: 2;">
            <p class="mt-4 fw-bold fs-3">Why choose Nutrigenic?</p>
            <div class="d-flex" style="justify-content: center;">
                <div class="user-icon">
                    <img src="assets/images/laurel-wreath-first.png" alt="User Icon">
                    <div class="pb-3">
                        <span class="">Exemplary</span>
                        <br />
                        <span class="">ingredients</span>
                    </div>
                </div>
                <div class="user-icon">
                    <img src="assets/images/user-star.png" alt="User Icon">
                    <div class="pb-3">
                        <span class="">Honest and</span>
                        <br />
                        <span class="">transparent</span>
                    </div>
                </div>
                <div class="user-icon">
                    <img src="assets/images/green-house.png" alt="User Icon">
                    <div class="pb-3">
                        <span class="">Envirormental</span>
                        <br />
                        <span class="">Conscious</span>
                    </div>
                </div>
            </div>
            <div class="d-flex" style="justify-content: center;">
                <div class="user-icon">
                    <img src="assets/images/location-user.png" alt="User Icon">
                    <div class="pb-3">
                        <span class="">Customer</span>
                        <br />
                        <span class="">Centric</span>
                    </div>
                </div>
                <div class="user-icon">
                    <img src="assets/images/halal.png" alt="User Icon">
                    <div class="pb-3">
                        <span class="">Halal</span>
                        <br />
                        <span class="">certified</span>
                    </div>
                </div>
                <div class="user-icon">
                    <img src="assets/images/user-group.png" alt="User Icon">
                    <div class="pb-3">
                        <span class="">Community</span>
                        <br />
                        <span class="">support</span>
                    </div>
                </div>
            </div>
            <button style="align-items: center;background-color: #EF870A;border: none;border-radius: 10px;"
                class="btn btn-primary mt-2 fw-bold">Get started
                <i class="pi pi-arrow-right" style="color: white;font-size: 0.8rem;"></i>
            </button>
        </div>

    </div>
    <div class="web-center d-block d-flex" style="margin-top: 275px !important;justify-content: center;">
        <div class="m-3" style="width: 15%;">
            <span class="mb-3">OUR CHEFS</span>
            <div class="card" style="padding: 0%;">
                <div class="card-body">
                    <img class="d-block mb-2" style="object-fit: contain;width: 100%;"
                        src="../../../../assets/images/chef.png">
                    <div>
                        <i class="pi pi-angle-left" style="font-size: 1.5rem;"></i>
                        <span class="mx-1">name sure name</span>
                        <i class="pi pi-angle-right" style="font-size: 1.5rem;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3" style="width: 15%;">
            <span class="mb-3">OUR EXPERTS</span>
            <div class="card" style="padding: 0%;">
                <div class="card-body">
                    <img class="d-block mb-2" style="object-fit: contain;width: 100%;"
                        src="../../../../assets/images/expert.png">
                    <div>
                        <i class="pi pi-angle-left" style="font-size: 1.5rem;"></i>
                        <span class="mx-1">name sure name</span>
                        <i class="pi pi-angle-right" style="font-size: 1.5rem;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 web-center" style="justify-content: center;">
        <span>OUR PARTENERS</span>
        <div class="card"
            style="height: 110px;width: 70%;padding: 0%;border: none;box-shadow: 0 1rem 1rem #F9F9FB !important;">
            <div class="card-body">
                <span>Those who help us to delivery the best food and experience possible to you</span>
                <div class="d-flex mt-3 justify-content-center">
                    <i class="pi pi-angle-left" style="font-size: 1.5rem;"></i>
                    <div class="d-flex">
                        <div class="partner-icon justify-content-center">
                            <img src="assets/images/Ouichef.png" alt="User Icon">
                        </div>
                        <div class="partner-icon justify-content-center">
                            <img src="assets/images/TH_Main.png" alt="User Icon">
                        </div>
                        <div class="partner-icon justify-content-center">
                            <img src="assets/images/Salvo.png" alt="User Icon">
                        </div>
                        <div class="partner-icon justify-content-center">
                            <img src="assets/images/clorence.png" alt="User Icon">
                        </div>
                    </div>
                    <i class="pi pi-angle-right" style="font-size: 1.5rem;"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 p-2 mastrPlan">
        <p class="mt-5 fw-bold fs-3">Master Plan</p>
        <button *ngFor="let item of tabItems"
            [style.background-color]="selectedMasterTab === item ? '#dfdfef' : 'white'"
            style="min-width: 115px;align-items: center;background-color: white;border: solid 1px #d7d7de;border-radius: 30px;color: #5D5D66;"
            (click)="selectedMasterTab = item" class="btn btn-primary mt-2 mx-2">
            {{ item }}
        </button>
        <div class="d-flex mt-3 responsiveWidth">
            <div class="templateStyles">
                <ng-container *ngFor="let item of masterPlanData">
                    <ng-container *ngTemplateOutlet="
                masterPlanCard;
                context: { $implicit: item }
              "></ng-container>
                </ng-container>
                <div class="pb-3">
                    <button style="align-items: center;background-color: #EF870A;border: none;border-radius: 10px;"
                        class="btn btn-primary mt-2 fw-bold">Get started
                        <i class="pi pi-arrow-right" style="color: white;font-size: 0.8rem;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5" style="max-width: 70%;">
        <p-carousel [value]="comments" [numVisible]="5" [numScroll]="1" [circular]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-item pTemplate="item">
                <div class="card mx-2" style="padding: 0%;">
                    <div class="card-body" style="padding: 0.5rem;">
                        <div class="d-flex">
                            <div class="d-flex">
                                <div *ngFor="let i of [].constructor(item.stars)"
                                    style="width: 20px;height: 20px;background-color: #219653;margin-right: 0.1rem;">
                                    <i class="pi pi-star-fill" style="color: white;font-size: 0.8rem;"></i>
                                </div>
                            </div>
                            <div style="font-size: 0.4rem;margin-left: auto;">{{ item.time }}</div>
                        </div>
                        <div class="mt-2" style="text-align: left;">
                            <div class="fw-bold" style="font-size: 0.8rem;">
                                <span>{{item.title}}</span>
                            </div>
                            <div style="font-size: 0.8rem;">
                                <span>{{item.description}}</span>
                            </div>
                            <p-divider></p-divider>
                            <div class="fw-bold" style="font-size: 0.6rem;">
                                <span>{{item.user}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="mt-4 p-2 helpSector">
        <p class="mt-5 fw-bold fs-3">We’re here to help!</p>
        <div class="mt-3" style="width: 42%;">
            <span>
                Feel free to reach out using any of the contact methods listed,
                and we'll get back to you within 24 hours.
            </span>
            <br />
            <span>
                For general questions, our FAQ page might have just what you're looking for!
            </span>
        </div>
        <div class="d-flex mt-4 w-50" style="justify-content: center;">
            <div class="m-auto">
                <button
                    style="align-items: center;background-color: #EF870A;border: none;border-radius: 10px;padding: 0.5rem;"
                    class="btn btn-primary mt-2 fw-bold">
                    <img src="../../../../assets/images/mail-open-love.png" style="max-width: 20px;min-height: 20px;" />
                </button>
                <div class="fw-bold mt-3">Email us?</div>
                <div class="mt-2">info@nutrigenic.co.uk</div>
            </div>
            <div class="m-auto">
                <button
                    style="margin: auto;align-items: center;background-color: #EF870A;border: none;border-radius: 10px;;padding: 0.5rem;"
                    class="btn btn-primary mt-2 fw-bold">
                    <img src="../../../../assets/images/chatting-01.png" style="max-width: 20px;min-height: 20px;" />
                </button>
                <div class="fw-bold mt-3">Live Chat</div>
                <div class="mt-2">Leave a message</div>
            </div>
            <div class="m-auto">
                <button
                    style="margin: auto;align-items: center;background-color: #EF870A;border: none;border-radius: 10px;;padding: 0.5rem;"
                    class="btn btn-primary mt-2 fw-bold">
                    <img src="../../../../assets/images/help-circle.png" style="max-width: 20px;min-height: 20px;" />
                </button>
                <div class="fw-bold mt-3">Have a question?</div>
                <div class="mt-2">Visit our FAQs page</div>
            </div>
        </div>
    </div>
    <div style="background-color: black;">
        <div>
            <img src="../../../../assets/images/Logo-white.png"
                style="height: 10rem;width: 16rem;object-fit: contain;" />
        </div>
        <div class="d-flex" style="width: 30%;">
            <img src="../../../../assets/images/facebook.png" style="max-width: 18px;min-height: 18px;margin: auto;" />
            <img src="../../../../assets/images/instagram.png" style="max-width: 18px;min-height: 18px;margin: auto;" />
            <img src="../../../../assets/images/youtube.png" style="max-width: 18px;min-height: 18px;margin: auto;" />
            <img src="../../../../assets/images/music.png" style="max-width: 18px;min-height: 18px;margin: auto;" />
        </div>
        <div class="mt-5 pb-5">
            <ul class="horizontal-menu">
                <li class="fs-6" *ngFor="let item of menuItems" (click)="onItemClick(item)">
                    <span>
                        {{ item }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- templates -->
<ng-template #masterPlanCard let-item>
    <div class="card text-center mx-3" style="min-width: 45%;max-width: 45%;padding: 0%;">
        <div class="card-body d-flex">
            <div class="d-block" style="min-width: 120px;max-width: 140px;max-height: 140px;min-height: 120px;">
                <img class="d-block" style="object-fit: cover;width: 100%;height: 100%;" [src]="item.imgUrl">
            </div>
            <div class="mx-2" style="text-align: left;">
                <div class="fw-bold fs-4">
                    <span>{{ item.title }}</span>
                </div>
                <div class="mt-2">
                    <span class="">{{ item.description }}</span>
                </div>
                <div class="d-flex mt-2">
                    <div>
                        <span>Calories:</span>
                        <br />
                        <span>{{ item.calories }}</span>
                    </div>
                    <p-divider layout="vertical"></p-divider>
                    <div>
                        <span>Fats:</span>
                        <br />
                        <span>{{ item.fats }}</span>
                    </div>
                    <p-divider layout="vertical"></p-divider>
                    <div>
                        <span>Protein:</span>
                        <br />
                        <span>{{ item.protein }}</span>
                    </div>
                    <p-divider layout="vertical"></p-divider>
                    <div>
                        <span>Carb:</span>
                        <br />
                        <span>{{ item.carb }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>