@media screen and (min-width: 1120px) and (max-width: 1699px) {
  .adaptiveImgHeight {
    height: 350px;
  }

  .textbox {
    position: absolute;
    margin-top: 100px;
    margin-left: 10%;
    width: 35%;
    padding: 10px;
    z-index: 1;
    font-family: Prompt;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;

  }

  .responsiveFont {
    font-size: 1.429rem;
  }

  .ourMission {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }

  .fs08 {
    font-size: 0.8rem;
  }


  .user-icon {
    display: flex;
    align-items: center;
    margin-right: 30px;
    min-width: 170px;
  }

}

@media screen and (max-width: 1119px) {
  .adaptiveImgHeight {
    height: 350px;
  }

  .textbox {
    position: absolute;
    margin-top: 100px;
    margin-left: 10%;
    width: 35%;
    padding: 10px;
    z-index: 1;
    font-family: Prompt;
    font-size: 2.286rem;
    font-weight: bold;
    text-align: left;
  }

  .responsiveFont {
    font-size: 1.429rem;
  }

  .ourMission {
    margin-top: 0;
    font-size: 1rem;
  }


  .fs08 {
    font-size: 0.8rem;
  }

  .user-icon {
    display: flex;
    align-items: center;
    margin-right: 30px;
    min-width: 170px;
  }

}


@media screen and (min-width: 1700px) {
  .adaptiveImgHeight {
    height: 550px;
  }

  .responsiveFont {
    font-size: 1.429rem;
  }

  .fs08 {
    font-size: 0.8rem;
  }

  .textbox {
    position: absolute;
    margin-top: 200px;
    margin-left: 10%;
    width: 35%;
    padding: 10px;
    z-index: 1;
    font-family: Prompt;
    font-size: 2.286rem;
    font-weight: bold;
    text-align: left;
  }

  .ourMission {
    margin-top: 5rem;
    font-size: 1.429rem;
  }


  .user-icon {
    display: flex;
    align-items: center;
    margin-right: 30px;
    min-width: 210px;
  }


}


.overlay {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 40%;
  //height: 350px;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) -40%, rgba(255, 255, 255, 1) 0%);
  box-shadow: 0rem 0rem 3rem 5rem white !important;
}

.overlayMasterPlan {
  position: absolute;
  //top: 0;
  //left: 0;
  width: 90%;
  height: 77%;
  opacity: 0.8;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 90%);
}

.imgMain {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  float: right;
}


.d-flex {
  display: flex;
  align-items: center;
}

.leftDish {
  width: 90%;
  min-width: 90%;
  height: auto;
  display: block;
}

.leftDish img {
  width: 35%;
  height: auto;
}

.rightDish {
  width: 90%;
  min-width: 90%;
  right: 0px;
  height: auto;
  display: block;
  margin-top: 50%;
}


.mx-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.secondDiv {
  padding: 20px;
  position: absolute;
  width: 100%;
  margin-top: -5%;
  border-radius: 15%;
  background-color: white;
  text-align: center;
  //z-index: 2;
}


.user-icon img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 0px;
}

.partner-icon {
  align-items: center;
}

.partner-icon img {
  width: 70px;
  height: 40px;
  margin-right: 0px;
  object-fit: contain;
}

.mastrPlan {
  width: 100%;
  min-height: 320px;
  border-radius: 15%;
  background-color: white;
  text-align: center;
  position: relative;
  text-align: -webkit-center;
}

.mastrPlan button {
  align-items: center;
  background-color: white;
  border: solid 1px #d7d7de;
  border-radius: 15px;
  color: #5D5D66;
}

.templateStyles {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.commentStars {
  width: 20px;
  height: 20px;
  background-color: #219653;
  margin-right: 0.1rem;
}

.responsiveWidth {
  width: 90%;
  justify-content: center;
}

.helpSector {
  width: 100%;
  min-height: 320px;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  background-color: white;
  text-align: center;
  position: relative;
  text-align: -webkit-center;
  box-shadow: 0px -10px 10px -10px #A9A9C6;
}

.helpButton {
  align-items: center;
  background-color: #EF870A;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0px 0px 80px 0px #A9A9C64D !important;
}
.helpButton:hover {
  background-color: #F8A94A !important;
}

.horizontal-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.socialIcons {
  max-width: 18px;
  min-height: 18px;
  margin: auto;
}

.masterPlanCard {
  min-width: 45% !important;
  max-width: 45% !important;
}

.masterPlanImg {
  min-width: 120px;
  max-width: 140px;
  max-height: 140px;
  min-height: 120px;
}


.horizontal-menu li {
  display: inline-block;
  margin-right: 2rem;
  cursor: pointer;
  font-family: Prompt;
  font-size: 1.3rem;
  color: white;
}

::ng-deep .p-carousel-indicators {
  display: none !important;
}



.shadow {
  box-shadow: 0 0 80px 0 rgba(169, 169, 198, 0.3);
}

.black-shadow{
  box-shadow: 0 -20px 20px 0 rgba(0, 0, 0, 0.03);
}

.master-plan-item-shadow {
  box-shadow: 0px 10px 30px 0px #6363B11A  !important;
}