@media screen and (max-width: 500px) {
  .adaptiveImgHeight {
    height: 350px;
  }

  .imgMain {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    float: right;
    overflow: hidden;
    transform-origin: top center;
  }

  .textbox {
    width: 95%;
    padding: 10px;
    font-family: Prompt;
    font-size: 1.429rem;
    font-weight: bold;
    text-align: center;
  }

  .responsiveFont {
    font-size: 1.286rem;
  }

  .ourMission {
    font-size: 1rem;
  }

  .ourMission-title {
    color: #2C2C30;
    font-weight: 300;
    font-size: 1.571rem;
  }

  .fs08 {
    font-size: 0.8rem;
  }

  .user-icon {
    display: flex;
    align-items: center;
    //min-width: 500px;
    //justify-content: center;
    margin-left: 25%;
  }

  .masterPlanCard {
    min-width: 100% !important;
    max-width: 100% !important;
  }

  .secondDiv {
    padding: 20px;
    width: 100%;
    border-radius: 100px;
    background-color: white;
    text-align: center;
  }

  .leftDish {
    height: 29.429rem;
    width: 100%;
    display: block;
  }

  .leftDish img {
    width: 100%;
    height: 100%;
  }

  .partner-icon {
    align-items: center;
  }

  .partner-icon img {
    width: 70px;
    height: 40px;
    margin-right: 10px;
    object-fit: contain;
  }

  .mastrPlan {
    width: 100%;
    min-height: 320px;
    border-radius: 100px;
    background-color: white;
    text-align: center;
    position: relative;
    text-align: -webkit-center;
  }

  .mastrPlan button {
    align-items: center;
    background-color: white;
    border: solid 1px #d7d7de;
    border-radius: 15px;
    color: #5D5D66;
  }

  .overlayMasterPlan {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    opacity: 0.8;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 90%);
  }

  .dish-right-mobile {
    min-width: 20%;
    height: 13.429rem;
    top: 0px;
    position: absolute;
    right: 0px;
  }

  .plan-detail {
    font-size: 0.8rem;
  }
  .masterPlanImg {
    width: 100%;
    max-width: 100%;
    max-height: 140px;
    min-height: 120px;
  }
  .cardTitles {
    color: #5D5D66;
    font-size: 1.571rem;
    font-weight: 300;
  }
}

.overlay-banner-Tablet {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77%;
  opacity: 0.9;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 80%);
}