::ng-deep .p-rating .p-rating-icon.p-rating-icon-active {
    color: #FFCB45;
  }
  
  ::ng-deep .p-rating .p-rating-icon {
    color: #DFDFEF; 
  }
  .btn-apply {
    border: 1.5px solid black;
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .overlay {
    position: absolute;
    top: -10px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #F9F9FB;
    font-size: 0.857rem;
    color: #0F0F1F;
  }
  :host ::ng-deep .p-rating .p-rating-star .p-rating-icon {
    font-size: 204rem; /* Set the desired size */
}
.p-rating-star	{
  color: #0F0F1F;
}

.getStartButton {
  align-items: center;
  background-color: #EF870A !important;
  border: none;
  border-radius: 15px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;  
  font-weight: bold;  
}