<div style="margin-left: 3rem;color: #0F0F1F;">
    <div class="d-flex">
        <img src="../../../../../assets/images/user-expert.png" style="height: 12.357rem;width: 8.857rem;" alt="">
        <div class="mx-5">
            <span style="font-size: 2rem;">Your expert</span>
            <br />
            <span style="font-size: 2rem;font-weight: bold;">Laura J. Shan</span>
            <br />
            <span style="font-size: 1.143rem;">Nutritionist</span>
            <br />
            <br />
            <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" [style.font-size]="'1rem'"></p-rating>
            <br />
            <img src="../../../../../assets/images/expert-facebook.png" style="height: 16px;width: 16px;margin-right: 1rem;" alt="">
            <img src="../../../../../assets/images/expert instagram.png" style="height: 16px;width: 16px;margin-right: 1rem;" alt="">
            <img src="../../../../../assets/images/expert-whatsapp.png" style="height: 16px;width: 16px;margin-right: 1rem;" alt="">
        </div>
        <div class="web-center" style="float: right;margin-left: auto;">
            <button class="btn mt-2 fw-bold m-auto btn-apply" style="font-size: 1.143rem;">Add Review
            </button>
            <div class="mt-2" style="font-size: 1.143rem;color: #5D5D66;">change expert</div>            
        </div>
    </div>
    <div class="mt-4 fm-rubik p-4 order-font" style="border: 1.5px solid #DFDFEF; border-radius: 4px;position: relative;">
        <div class="overlay">12.02.2032 - Order #12345</div>
        <span style="font-size: 1.143rem;">Please update your pictures, I want to see how it is going.</span>
    </div>
    <div class="mt-4 fm-rubik p-4 order-font" style="border: 1.5px solid #DFDFEF; border-radius: 4px;position: relative;">
        <div class="overlay">12.02.2032 - Order #12345</div>
        <span style="font-size: 1.143rem;">This is alonger message. please This is alonger message. please This is alonger message. please 
            This is alonger message. please 
            This is alonger message. please This is alonger message. please 
            This is alonger message. please </span>
    </div>
</div>