.tagbutton{
    //min-width: 115px;
    align-items: center;
    background-color: white;
    border: solid 1px #d7d7de;
    border-radius: 30px;
    color: #5D5D66;
    padding: 1rem;
}

.categoriesButton{
    //min-width: 115px;
    align-items: center;
    background-color: white;
    border: solid 1px #d7d7de;
    border-radius: 30px;
    color: #5D5D66;
}
  
.shadow {
    box-shadow: 0px 10px 30px 0px #6363B11A  !important;
  }