.tagbutton{
    //min-width: 115px;
    align-items: center;
    background-color: white;
    border: solid 1px #d7d7de;
    border-radius: 30px;
    color: #5D5D66;
    padding: 1rem;
}

.categoriesButton{
    //min-width: 115px;
    align-items: center;
    background-color: white;
    border: solid 1px #d7d7de;
    border-radius: 30px;
    color: #5D5D66;
}
  
.shadow {
    box-shadow: 0.5rem 0.5rem  1rem rgba(169, 169, 198, 0.2)  !important;
  }