<div class="web-center">
    <div class="row w-75">
        <div class="col-md-4">
            <div class="card mt-2 w-100 p-0">
                <div class="card-body m-3">
                    <div>
                        <span style="color: #EF870A;font-weight: bolder;font-size: 3rem;">Flexi</span>
                    </div>
                    <div><span>Try us and get satisied</span></div>
                    <div class="web-left mt-4"><span>Discover our flexible meal options with a no-commitment trial. Enjoy a handpicked selection of dishes designed to fit your lifestyle.</span></div>
                    <div class="web-left">
                        <ul class="p-3">
                            <li>No commitment</li>
                            <li>Order any day of the week</li>
                            <li>Available for orders UK wide</li>
                            <li>£8.90 per meal</li>
                            <li>10% Referal promo code</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-2 w-100 p-0">
                <div class="card-body m-3">
                    <div>
                        <span style="color: #EF870A;font-weight: bolder;font-size: 3rem;">Commit</span>
                    </div>
                    <div><span>Try us and get satisied</span></div>
                    <div class="web-left mt-4"><span>Enjoy long-term savings and flexibility</span></div>
                    <div class="web-left">
                        <ul class="p-3">
                            <li>Significant discounts on orders</li>
                            <li>Flexible payment options</li>
                            <li>Customizable meal choices for your unique taste</li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-2 w-100 p-0">
                <div class="card-body m-3">
                    <div>
                        <span style="color: #EF870A;font-weight: bolder;font-size: 3rem;">Custom</span>
                    </div>
                    <div><span>Custom plan through our expert</span></div>
                    <div class="web-left mt-4"><span>Get personalized, one-on-one guidance to create a custom meal plan.</span></div>
                    <div class="web-left mt-2"><span>Our experts provide step-by-step support to meet your unique wellness goals. Start your tailored health journey today!</span></div>
                    <div class="mt-5">
                        <button class="btn btn-primary mt-2 fw-bold btn-plan p-3">Connect with an expert
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>