<div id="layoutHome" class="web-center fm-rubik">
    <div class="mt-2 fw-bold fm-prompt" style="color: #0F0F1F;font-size: 1.429rem;" *ngIf="isTablet">Our 3 plans:</div>
    <div class="mt-2 fw-bold fm-prompt" style="color: #0F0F1F;font-size: 1.429rem;" *ngIf="isMobile">Our plans</div>
    <div class="mt-2" *ngIf="isMobile">
        <button *ngFor="let item of tabItems"
            [style.background-color]="selectedMasterTab === item ? '#dfdfef' : 'white'"
            (click)="selectedMasterTab = item" class="btn btn-primary mt-2 mx-2 categoriesButton">
            {{ item }}
        </button>
    </div>
    <div class="row justify-content-center mt-5" [style]="isDesktop ? 'width: 75%' : isTablet ? 'width: 95%' : 'width: 95%'">
        <div class="mb-3 position-relative" [class]="isDesktop ? 'col-md-4' : isTablet ? 'col-md-6' : ''" *ngIf="isDesktop || isTablet || (isMobile && selectedMasterTab === 'Flexi')">
            <div class="z-2 position-absolute" style="margin-left: 5%;width: 25%;">
                <button class="btn btn-primary mt-2 btn-plan p-1 w-100" style="font-size: 1.143rem;">To Start
                </button>
            </div>
            <div class="w-100 z-1" style="margin-bottom: -20%;">
                <img class="w-100" src="../../../../assets/images/flexi-back-image.png" />
            </div>
            <div class="card shadow mt-2 w-100 p-0 z-2">
                <div class="card-body m-3">
                    <div class="mb-3">
                        <img class="d-block object-fit-contain w-75" src="../../../../assets/images/plan-top-line.png">
                    </div>
                    <div>
                        <span class="cardTitle">Flexi</span>
                    </div>
                    <div class="fw-bold fs-5" style="font-size: 1.143rem;color: #190E01;"><span>Try us and get satisied</span></div>
                    <div class="web-left mt-5" style="font-size: 1.071rem;color: #190E01;"><span>Discover our flexible meal options with a no-commitment trial.
                            Enjoy a handpicked selection of dishes designed to fit your lifestyle.</span></div>
                    <div class="web-left"  style="font-size: 1.071rem;color: #190E01;">
                        <ul class="p-3">
                            <li>No commitment</li>
                            <li>Order any day of the week</li>
                            <li>Available for orders UK wide</li>
                            <li>£8.90 per meal</li>
                            <li>10% Referal promo code</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <img class="d-block object-fit-contain w-75"
                            src="../../../../assets/images/plan-bottom-line.png">
                    </div>
                    <div><span style="font-size: 1rem;font-weight: bold;">How many meals per day?</span></div>
                    <div class="d-flex justify-content-center">
                        <div *ngFor="let i of [2, 3, 4, 5]" class="m-1" style="width: 15%;">
                            <button class="btn btn-primary mt-2 fw-bold btn-planMeal"
                                [class.selectedButtonList]="selectedFlexiDaymealButton === i"
                                (click)="selectButton('flexiDay',i)">{{ i
                                }}</button>
                        </div>
                    </div>
                    <div class="mt-3"><span style="font-size: 1rem;font-weight: bold;">How many day per week?</span></div>
                    <div class="d-flex justify-content-center">
                        <div *ngFor="let i of [ 3, 5, 6]" class="m-1" style="width: 15%;">
                            <button class="btn btn-primary mt-2 fw-bold btn-planMeal"
                                [class.selectedButtonList]="selectedFlexiWeekmealButton === i"
                                (click)="selectButton('flexiWeek',i)">{{ i
                                }}</button>
                        </div>
                    </div>
                </div>
                <div class="mt-3 p-3" style="text-align: left;">
                    <span style="font-size: 0.714rem;color: #848790;">Promo code</span>
                    <div class="d-flex">
                        <input type="text" class="p-2 input-promo" placeholder="type here ..." />
                        <button class="btn mt-2 fw-bold m-auto btn-apply">Apply
                        </button>
                    </div>
                    <p-divider></p-divider>
                    <div><span style="font-size: 1rem;">Deliveries Per Week</span><span style="float: right;font-size: 1rem;">01</span></div>
                    <p-divider></p-divider>
                    <div><i class="pi pi-angle-down mx-1 fs08"></i><span class="fw-bold" style="font-size: 1rem;">You will pay</span><span
                            class="fw-bold" style="float: right;font-size: 1rem;">£206.60</span></div>
                    <div class="web-center mt-3">
                        <button class="btn btn-primary mt-2 fw-bold btn-orderNow fm-prompt"
                        style="font-size: 1.143rem;">Order now
                            <i class="pi pi-arrow-right text-white fs08"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="mb-3 position-relative" [class]="isDesktop ? 'col-md-4' : isTablet ? 'col-md-6' : ''" *ngIf="isDesktop || isTablet || (isMobile && selectedMasterTab === 'Commit')">
            <div class="z-2 position-absolute" style="margin-left: 5%;width: 35%;">
                <button class="btn btn-primary mt-2 btn-plan p-1 w-100" style="font-size: 1.143rem;">Recomended
                </button>
            </div>
            <div class="w-100 z-1" style="margin-bottom: -20%;">
                <img class="w-100" src="../../../../assets/images/commit-back-image.png" />
            </div>
            <div class="card shadow mt-2 w-100 p-0 z-2">
                <div class="card-body m-3">
                    <div class="mb-3">
                        <img class="d-block object-fit-contain w-75" src="../../../../assets/images/plan-top-line.png">
                    </div>
                    <div>
                        <span class="cardTitle">Commit</span>
                    </div>
                    <div class="fw-bold fs-5"  style="font-size: 1.143rem;"><span>Try us and get satisied</span></div>
                    <div class="web-left mt-5" style="font-size: 1.071rem;color: #190E01;"><span>Enjoy long-term savings and flexibility</span></div>
                    <div class="web-left" style="font-size: 1.071rem;color: #190E01;">
                        <ul class="p-3">
                            <li>Significant discounts on orders</li>
                            <li>Flexible payment options</li>
                            <li>Customizable meal choices for your unique taste</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <img class="d-block object-fit-contain w-75"
                            src="../../../../assets/images/plan-bottom-line.png">
                    </div>
                    <div><span style="font-size: 1.071rem;color: #190E01;font-weight: bold;">How many meals per day?</span></div>
                    <div class="d-flex justify-content-center">
                        <div *ngFor="let i of [2, 3, 4, 5]" class="m-1" style="width: 15%;">
                            <button class="btn btn-primary mt-2 fw-bold btn-planMeal"
                                [class.selectedButtonList]="selectedCommitDaymealButton === i"
                                (click)="selectButton('commitDay',i)">{{ i
                                }}</button>
                        </div>
                    </div>
                    <div class="mt-3 fw-bold"><span style="font-size: 1.071rem;color: #190E01;">How many day per week?</span></div>
                    <div class="d-flex justify-content-center">
                        <div *ngFor="let i of [ 3, 5, 6]" class="m-1" style="width: 15%;">
                            <button class="btn btn-primary mt-2 fw-bold btn-planMeal"
                                [class.selectedButtonList]="selectedCommitWeekmealButton === i"
                                (click)="selectButton('commitWeek',i)">{{ i
                                }}</button>
                        </div>
                    </div>
                    <div class="mt-3"><span style="font-size: 1.071rem;color: #190E01;font-weight: bold;">How many weeks?</span></div>
                    <div class="d-flex justify-content-center">
                        <div *ngFor="let i of [ ['4w', 'Save 10%'], ['8w','Save 15%'], ['12w','Save 20%']]" class="m-1"
                            style="width: 25%;">
                            <button class="btn btn-primary mt-2 fw-bold btn-planMeal"
                                [class.selectedButtonList]="selectedCommitWeeksButton === i[0]"
                                (click)="selectWeeksNumber(i[0])">{{ i[0]}}</button>
                            <span [class.selectedWeeksNum]="selectedCommitWeeksButton === i[0]"
                                style="font-size: 0.7rem;opacity: 0.4;">{{ i[1] }}</span>
                        </div>
                    </div>
                </div>
                <div class="mt-3 p-3" style="text-align: left;">
                    <span style="font-size: 0.714rem;color: #848790;">Promo code</span>
                    <div class="d-flex">
                        <input type="text" class="p-2 input-promo"
                            placeholder="type here ..." />
                        <button class="btn mt-2 fw-bold m-auto btn-apply">Apply
                        </button>
                    </div>
                    <p-divider></p-divider>
                    <div><span>Deliveries Per Week</span><span style="float: right;">01</span></div>
                    <p-divider></p-divider>
                    <div><i class="pi pi-angle-down mx-1 fs08"></i><span class="fw-bold">You will pay</span><span
                            class="fw-bold" style="float: right;">£206.60</span></div>
                    <div class="web-center mt-3">
                        <button class="btn btn-primary mt-2 fw-bold btn-orderNow fm-prompt"
                        style="font-size: 1.143rem;">Order now
                            <i class="pi pi-arrow-right text-white fs08"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="mb-3 position-relative" [class]="isDesktop ? 'col-md-4' : isTablet ? 'col-md-6' : ''" *ngIf="isDesktop || isTablet || (isMobile && selectedMasterTab === 'Expert')">
            <div class="w-100 z-1" style="margin-bottom: -20%;">
                <img class="w-100" src="../../../../assets/images/custom-back-image.png" />
            </div>
            <div class="card shadow mt-2 w-100 p-0 z-2">
                <div class="card-body m-3">
                    <div class="mb-3">
                        <img class="d-block object-fit-contain w-75" src="../../../../assets/images/plan-top-line.png">
                    </div>
                    <div>
                        <span class="cardTitle">Custom</span>
                    </div>
                    <div class="fw-bold fs-5" style="font-size: 1.143rem;"><span>Custom plan through our expert</span></div>
                    <div class="web-left mt-5" style="font-size: 1.071rem;color: #190E01;"><span>Get personalized, one-on-one guidance to create a custom meal
                            plan.</span></div>
                    <div class="web-left mt-2"><span style="font-size: 1.071rem;color: #190E01;">Our experts provide step-by-step support to meet your unique
                            wellness goals. Start your tailored health journey today!</span></div>
                    <div class="mt-5">
                        <button class="btn btn-primary mt-2 fw-bold btn-plan" style="font-size: 1.143rem;">Connect with an expert
                        </button>
                    </div>
                    <div class="mb-3 mt-5">
                        <img class="d-block object-fit-contain w-75"
                            src="../../../../assets/images/plan-bottom-line.png">
                    </div>
                    <div><span style="font-size: 1rem;font-weight: 400;">Already connected?</span></div>
                    <div class="mt-1">
                        <button class="btn mt-2 fw-bold px-5 py-3 btn-apply" style="font-size: 1.143rem;color: #311C02;">Select your guide
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>