<div id="layoutHome" class="web-center">
    <div style="width: 85%;">
        <div class="mt-4 web-left row">
            <div class="col-md-9">
                <button *ngFor="let item of tabItems"
                    [style.background-color]="selectedMasterTab === item ? '#dfdfef' : 'white'"
                    (click)="selectedMasterTab = item" class="btn btn-primary mt-2 mx-2 categoriesButton"
                    style="font-size: 1.143rem;">
                    {{ item }}
                </button>
            </div>
            <div class="col-md-3">
                <span class="p-input-icon-left w-100">
                    <i class="pi pi-search" style="font-size: 1rem;font-weight: bold;color: #5D5D66;" *ngIf="searchIcon"></i>
                    <input type="text" class="p-2 input-promo mainLoginInput fm-rubik"
                        placeholder="Search meal or ingredient..."
                        style="font-size: 1rem;font-weight: bold;color: #5D5D66;" 
                        (input)="inputTextChange($event)"
                        [(ngModel)]="search"/>
                </span>
            </div>
        </div>
        <div class="w-100 row mt-4 row mb-5" style="max-width: 100%;">
            <ng-container *ngFor="let item of listCardData">
                <ng-container *ngTemplateOutlet="
        listCards;
        context: { $implicit: item }
      "></ng-container>
            </ng-container>

        </div>
    </div>

</div>

<ng-template #listCards let-item>
    <div class="col-md-3 mb-3 position-relative responsiveFont fm-rubik">
        <div class="card p-3">
            <div class="">
                <img class="w-100" [src]="item.imgUrl" style="border-radius: 12px 12px 0 0;" />
            </div>
            <div class="card-body web-left p-0">
                <div class="fw-bold mt-3" style="font-size: 1.143rem;">
                    {{item.title}}

                    <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" [style.float]="'right'"
                        [style.font-size]="'1rem'"></p-rating>

                </div>
                <div class="web-left mt-2" style="font-size: 1rem;"><span>{{ item.description }}</span></div>
                <div class="fw-bold mt-3" style="font-size: 1rem;color: #311C02;"><span>{{ item.price }}</span></div>
                <div class="fw-bold mt-4">
                    <button class="btn btn-dec-ourshop p-0" (click)="decreaseBtnClick()" style="margin-right: 0.5rem;">
                        <i class="pi pi-minus fw-bold" style="padding: 0.6rem;
                        font-size: 0.8rem;color: #EF870A;"></i>
                    </button>
                    <span> {{this.counter}} </span>
                    <button class="btn btn-primary btn-ourshop p-0" (click)="increaseBtnClick()"
                        style="margin-left: 0.5rem;">
                        <i class="pi pi-plus fw-bold" style="padding: 0.6rem;
                        font-size: 0.8rem;"></i>
                    </button>
                    <button class="btn btn-primary fw-bold btn-ourshop fm-prompt"
                        style="float: right;font-size: 1rem;border-radius: 10px;padding-left: 1rem;padding-right: 1rem;">Add
                        to cart</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>