.horizontal-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.horizontal-menu li {
    display: inline-block;
    margin-right: 2rem;
    cursor: pointer;
    font-family: Prompt;
    font-size: 1.3rem;
}

.horizontal-menu li.selected {
    font-weight: bold;
}

.horizontal-menu li.selected::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-top: 1px;
}

.menuBar {
    display: none;
}

@media screen and (max-width: 1030px) {
    .menuBar {
        display: block;
        display: inline-block;
        margin-right: 2rem;
        cursor: pointer;
        font-family: Prompt;
        font-size: 1.3rem;
        width: 100%;
    }

    .horizontal-menu {
        display: none;
    }

    .user-icon {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        display: none;
    }
}

@media screen and (min-width: 1031px) {
    .user-icon {
        display: flex;
        align-items: center;
        margin-left: 9rem;
    }
}

.user-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-icon span {
    font-family: Prompt;
    font-size: 1.3rem;
}