<div id="layoutHeader" class="layout-topbar topbar-content" style="background-color: #F9F9FB;">
    <div style="margin-right: 8%;">
        <img src="../../../../../assets/images/Logo.png" style="height: 10rem;width: 16rem;object-fit: contain;" />
    </div>
    <div class="d-flex w-100" style="position: relative;margin-left: 15%;">
        <div>
            <ul class="horizontal-menu">
                <li *ngFor="let item of items" [class.selected]="selectedItem === item.url" (click)="onItemClick(item)">
                    <span style="font-size: 1.143rem;font-weight: 500;" *ngIf="item.url !== 'login'">
                        {{ item.label }}
                    </span>
                </li>
            </ul>
            <div class="menuBar">
                <p-menubar [model]="items"></p-menubar>
            </div>
        </div>
        <div class="d-flex" style="position: absolute;right: 15px;">
            <div class="user-icon" style="cursor: pointer;" (click)="goToCheckOut()">
                <img src="../../../../../assets/images/shopping-basket.png" alt="User Icon">
            </div>
            <div class="user-icon" style="cursor: pointer;margin-left: 1.5rem;" (click)="loginPopupManager()">
                <img src="assets/images/user.png" alt="User Icon">
                <span>{{userName}}</span>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="loginPopupVisibility" [style]="{ width: '330px', height: '61%%' }" (onHide)="onDialogHide()">
    <div class="text-center fm-prompt">
        <div class=" fw-bold text-black" style="font-size: 1.429rem;">
            Log In in
        </div>
        <div class="fm-rubik" style="font-size: 1rem;font-weight: 400;">
            Log In To Your Account To Continue
        </div>
        <button class="mt-4 btn" style="border: 1px solid #D0D5DD;width: 95%;padding-top: 0.714rem;padding-bottom: 0.714rem;">
            <img src="../../../../../assets/images/login-google.png"
                style="height: 24px;width: 24px;margin-right: 0.5rem;" alt="">
            <span class="fm-rubik" style="font-size: 0.857rem;font-weight: 400;color: #344054;">
                Log in with Google
            </span>
        </button>
        <button class="mt-2 btn" style="border: 1px solid #D0D5DD;width: 95%;padding-top: 0.714rem;padding-bottom: 0.714rem;">
            <img src="../../../../../assets/images/login-apple.png"
                style="height: 24px;width: 24px;margin-right: 0.5rem;" alt="">
            <span class="fm-rubik" style="font-size: 0.857rem;font-weight: 400;color: #344054;">
                Log in with Apple
            </span>
        </button>
        <div class="mt-3 d-flex align-items-center customContainer">
            <p-divider class="flex-grow-1"></p-divider>
            <span class="px-3 fm-rubik" style="color: #B4B4BB; font-size: 0.7rem;font-weight: bold;">or login with
                email</span>
            <p-divider class="flex-grow-1"></p-divider>
        </div>
        <div class="mt-3 p-2 fm-rubik" style="text-align: left;">
            <span style="font-size: 0.8rem;color: #848790;">Email</span>
            <input [(ngModel)] = "loginModel.email" type="email" class="p-2 w-100 input-promo" style="font-size: 0.9rem;font-weight: bold;"
                placeholder="Name@example.com" />
        </div>
        <div class="mt-1 p-2 fm-rubik" style="text-align: left;">
            <span style="font-size: 0.8rem;color: #848790;">Password</span>
            <input [(ngModel)] = "loginModel.password" type="password" class="p-2 w-100 input-promo" style="font-size: 0.9rem;font-weight: bold;" />
        </div>
        <div class="mt-1 p-2" style="text-align: center;">
            <button class="btn w-100 fm-prompt fw-bold"
                style="color: white;background-color: #EF870A;font-size: 1.143rem;border-radius: 12px;padding-top: 0.8rem;padding-bottom: 0.8rem;"
                (click)="login()">Log
                in</button>
        </div>
        <div class="my-1 p-2 fm-rubik" style="text-align: center;">
            <span style="font-size: 0.857rem;font-weight: 400;color: #5D5D66;">
                You dont't have an account
            </span>
            <span class="fm-prompt" style="color: #EF870A;font-size: 1rem;font-weight: bold;cursor: pointer;"
                (click)="signInLinkToSignUp()">
                Sign up
            </span>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="signUpPopupVisibility" [style]="{ width: '330px', height: '61%%' }" (onHide)="onDialogHide()">
    <div class="text-center fm-prompt">
        <div class=" fw-bold text-black fs-4 ">
            Sign up
        </div>
        <div class="fm-rubik" style="font-size: 0.9rem;font-weight: bold;">
            Log In To Your Account To Continue
        </div>
        <button class="mt-4 btn" style="border: 1px solid #D0D5DD;width: 95%;">
            <img src="../../../../../assets/images/login-google.png"
                style="height: 1.5rem;width: 1.5rem;margin-right: 0.5rem;" alt="">
            <span class="fm-rubik" style="font-size: 0.8rem;font-weight: bold;color: #344054;">
                Sign up with Google
            </span>
        </button>
        <button class="mt-2 btn" style="border: 1px solid #D0D5DD;width: 95%;">
            <img src="../../../../../assets/images/login-apple.png"
                style="height: 1.5rem;width: 1.5rem;margin-right: 0.5rem;" alt="">
            <span class="fm-rubik" style="font-size: 0.8rem;font-weight: bold;color: #344054;">
                Sign up with Apple
            </span>
        </button>
        <div class="mt-4 d-flex align-items-center customContainer">
            <p-divider class="flex-grow-1"></p-divider>
            <span class="px-3 fm-rubik" style="color: #B4B4BB; font-size: 0.7rem;font-weight: bold;">or login with
                email</span>
            <p-divider class="flex-grow-1"></p-divider>
        </div>
        <div class="mt-3 p-2 fm-rubik" style="text-align: left;">
            <span style="font-size: 0.8rem;color: #848790;">Name</span>
            <input type="text" class="p-2 w-100 input-promo" style="font-size: 0.9rem;font-weight: bold;"
                placeholder="Name" />
        </div>
        <div class="mt-3 p-1 fm-rubik" style="text-align: left;">
            <span style="font-size: 0.8rem;color: #848790;">Last name</span>
            <input type="text" class="p-2 w-100 input-promo" style="font-size: 0.9rem;font-weight: bold;"
                placeholder="Last name" />
        </div>
        <div class="mt-3 p-1 fm-rubik" style="text-align: left;">
            <span style="font-size: 0.8rem;color: #848790;">Phone number</span>
            <input type="text" class="p-2 w-100 input-promo" style="font-size: 0.9rem;font-weight: bold;"
                placeholder="Phone number" />
        </div>
        <div class="mt-1 p-2 fm-rubik" style="text-align: left;">
            <span style="font-size: 0.8rem;color: #848790;">Email</span>
            <input type="email" class="p-2 w-100 input-promo" style="font-size: 0.9rem;font-weight: bold;"
                placeholder="Name@example.com" />
        </div>
        <div class="mt-1 p-2 fm-rubik" style="text-align: left;">
            <span style="font-size: 0.8rem;color: #848790;">Password</span>
            <input type="password" class="p-2 w-100 input-promo" style="font-size: 0.9rem;font-weight: bold;" />
        </div>
        <div class="mt-1 p-2" style="text-align: center;">
            <button class="btn w-100 fm-prompt fw-bold"
                style="color: white;background-color: #EF870A;font-size: 1.143rem;border-radius: 12px;padding-top: 0.8rem;padding-bottom: 0.8rem;">Sign
                up</button>
        </div>
        <div class="my-1 p-2 fm-rubik" style="text-align: center;">
            <span style="font-size: 0.857rem;font-weight: 400;color: #5D5D66;">
                You already have an account
            </span>
            <span class="fm-prompt" style="color: #EF870A;font-size: 1rem;font-weight: bold;cursor: pointer;"
                (click)="signInLinkToSignUp()">
                Sign in
            </span>
        </div>
    </div>
</p-dialog>