.order-font {
    color: #0F0F1F;
    font-size: 1.143rem;
}

.mr05 {
    margin-right: 0.5rem;
}

.mr8 {
    margin-right: 8rem;
}

.btn-apply {
    border: 1.5px solid black;
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
}