<div [style]="isDesktop ? 'margin-left: 3rem;' : ''">
    <div class="fw-bold fm-prompt mb-5" style="font-size: 1.429rem;color: #0F0F1F;">
        <span [class]="isMobile ? 'd-block web-center' : ''">Your credit cards</span>
        <button class="btn fw-bold m-auto btn-apply" style="font-size: 1.143rem;" [class]="isMobile ? 'd-block mt-4' : ''"
            [style]="creditCards.length === 0 ? 'margin-left: 2rem !important' : 'margin-left: 2rem !important'"
            [style]="isMobile ? '' : 'float: right;'">Add credit card
        </button>
    </div>
    <div *ngFor="let item of creditCards" class="mt-2 fm-rubik p-4 order-font"
        style="border: 1.5px solid #DFDFEF; border-radius: 4px;position: relative;">
        <div class="d-flex" *ngIf="isDesktop || isTablet">
            <div>
                <img src="../../../../../assets/images/user-credit-card.png" style="height: 16px;width: 16px;"
                    class="mr05" alt="">
                <span class="fw-bold mr8">{{item.type}}</span>
            </div>
            <div class="mr8">{{item.number}}</div>
            <div>
                <span class="mr05">Exp</span>
                <span class="mr8">{{item.expiration}}</span>
            </div>
            <div style="color: #5D5D66;">remove</div>
        </div>
        <div class="" *ngIf="isMobile">
            <div class="d-flex position-releative">
                <div>
                    <img src="../../../../../assets/images/user-credit-card.png" style="height: 16px;width: 16px;"
                        class="mr05" alt="">
                    <span class="fw-bold mr8">{{item.type}}</span>
                </div>
                <div style="position: absolute;right: 10px;">{{item.number}}</div>
            </div>
            <div class="d-flex position-releative">
                <div>
                    <span class="mr05">Exp</span>
                    <span class="mr8">{{item.expiration}}</span>
                </div>
                <div style="color: #5D5D66;position: absolute;right: 10px;">remove</div>
            </div>
        </div>
    </div>

</div>