.order-font {
    color: #0F0F1F;
    font-size: 1.143rem;
}

.mr05 {
    margin-right: 0.5rem;
}

.mr3 {
    margin-right: 3rem;
}

.btn-apply {
    border: 1.5px solid black;
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
}