<div class="web-center fm-rubik">
    <div class="row mt-5 w-75">
        <div class="col-md-4">
            <div class="card mt-2 w-100 p-0 mb-5" style="border-radius: 24px;">
                <div class="card-body m-3">
                    <div class="web-left">
                        <span class="general-font">3 weeks <span style="font-weight: normal;">plan</span></span>
                        <span class="general-font" style="float: right;">3 meals x 6 days</span>
                    </div>
                    <p-divider></p-divider>
                    <div class="d-flex justify-content-center">
                        <i class="text-black mx-3 pi pi-angle-double-left" style="font-size: 2rem;"></i>
                        <div>
                            <button class="btn fm-prompt px-3"
                                style="background-color: #DFDFEF;font-size: 1.143rem;font-weight: bold;border-radius: 12px;">I°
                                Week</button>
                        </div>
                        <i class="text-black mx-3 pi pi-angle-double-right" style="font-size: 2rem;"></i>
                    </div>
                    <div class="web-left" style="width: 85%;">
                        <div class="mt-4 fw-bold" style="color: #5D5D66;font-size: 0.857rem;"> First delivery: <span>
                                24/02/2020 </span></div>
                        <div *ngFor="let item of mealsList" class="mt-2 p-1" style="align-items: center;">
                            <img [src]="item.img" style="margin-right: 1rem;width: 32px;height: 32px;" alt="">
                            <span class="general-font">{{item.text}}</span>
                            <span class="general-font fw-bold"
                                style="color: #848790;float: right;">x{{item.count}}</span>
                        </div>
                        <div class="mt-4 fw-bold" style="color: #5D5D66;font-size: 0.857rem;"> First delivery: <span>
                                24/02/2020 </span></div>
                        <div *ngFor="let item of mealsList" class="mt-2 p-1" style="align-items: center;">
                            <img [src]="item.img" style="margin-right: 1rem;width: 32px;height: 32px;" alt="">
                            <span class="general-font">{{item.text}}</span>
                            <span class="general-font fw-bold"
                                style="color: #848790;float: right;">x{{item.count}}</span>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div style="color: #5D5D66;font-size: 1.143rem;">
                        <img src="../../../../assets/images/pencil.png" style="height: 14px;width: 14px;" alt="">
                        <span class="mx-2">edit</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-2 w-100 p-0 mb-5" style="border-radius: 24px;">
                <div class="card-header fw-bold py-3" style="background-color: #DFDFEF;border-top-left-radius:
                    23px;border-top-right-radius: 23px;border: none;font-size: 1.143rem;color: #5D5D66;">
                    <span class="fm-prompt">Adds on</span>
                </div>
                <div class="card-body m-2">
                    <div class="web-left" style="width: 85%;">
                        <div *ngFor="let item of mealsList" class="mt-2 p-1" style="align-items: center;">
                            <img [src]="item.img" style="margin-right: 1rem;width: 32px;height: 32px;" alt="">
                            <span class="general-font">{{item.text}}</span>
                            <span class="general-font fw-bold"
                                style="color: #848790;float: right;">x{{item.count}}</span>
                        </div>
                    </div>

                    <p-divider></p-divider>
                    <div style="color: #5D5D66;font-size: 1.143rem;">
                        <img src="../../../../assets/images/pencil.png" style="height: 14px;width: 14px;" alt="">
                        <span class="mx-2">edit</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="fm-prompt fw-bold" style="color: #848790;font-size: 1.143rem;">Order summary</div>
            <p-divider></p-divider>
            <div style="width: 85%;">
                <div class="web-left">
                    <div class="">
                        <span style="font-size: 0.857rem;color: #0F0F1F;">Deliveries</span>
                        <span style="float: right;font-size: 0.857rem;color: #5D5D66;">2 per week</span>
                    </div>
                    <p-divider></p-divider>
                    <div class="">
                        <span style="font-size: 0.857rem;color: #0F0F1F;">Adds on</span>
                        <span style="float: right;font-size: 0.857rem;color: #5D5D66;">£87.00</span>
                    </div>
                    <p-divider></p-divider>
                    <div class="">
                        <span style="font-size: 0.857rem;color: #0F0F1F;">Week total</span>
                        <span style="float: right;font-size: 0.857rem;color: #5D5D66;">£87.00</span>
                    </div>
                    <p-divider></p-divider>
                    <div class="">
                        <span style="font-size: 0.857rem;color: #0F0F1F;">Deliveries Fees</span>
                        <span style="float: right;font-size: 0.857rem;color: #5D5D66;">£12.00</span>
                    </div>
                    <p-divider></p-divider>
                    <div class="">
                        <span style="font-size: 0.857rem;color: #0F0F1F;">Sub Total</span>
                        <span style="float: right;font-size: 0.857rem;color: #5D5D66;">£870.00</span>
                    </div>
                    <p-divider></p-divider>
                    <span style="font-size: 0.714rem;color: #848790;">Promo code</span>
                    <div class="d-flex">
                        <input type="text" class="p-2 input-promo" placeholder="type here ..." />
                        <button class="btn mt-2 fw-bold m-auto btn-apply">Apply
                        </button>
                    </div>
                    <p-divider></p-divider>
                    <div class="">
                        <span style="font-size: 0.857rem;color: #0F0F1F;font-weight: bold;">Total pay</span>
                        <span
                            style="float: right;font-size: 0.857rem;color: #0F0F1F;font-weight: bold;">£87.00,60</span>
                    </div>
                    <p-divider></p-divider>
                </div>
                <div class="mt-5">
                    <div>
                        <span class="fm-rubik" style="font-size: 0.857rem;color: #B4B4BB;">Powered by</span>
                        <span class="fm-rubik-bold mx-2"
                            style="font-size: 1rem;color: #B4B4BB;font-weight: bold;">stripe</span>
                    </div>
                    <button class="btn btn-primary mt-2 fw-bold getStartButton fm-prompt-button w-100">
                        <img src="../../../../assets/images/credit-card.png" class="menu-img fw-bold"
                            style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(154deg);" alt="">
                        <span>Pay with card</span>
                    </button>
                </div>
                <div class="mt-2 d-flex align-items-center customContainer">
                    <p-divider class="flex-grow-1"></p-divider>
                    <span class="px-3 fm-rubik" style="color: #B4B4BB; font-size: 0.7rem;font-weight: bold;">or pay
                        with</span>
                    <p-divider class="flex-grow-1"></p-divider>
                </div>
                <div class="mt-3">
                    <button class="btn bg-black text-white w-100 py-2">
                       <span class="mx-1" style="font-size: 1rem;font-weight: 400;">Pay with</span> 
                       <img src="../../../../assets/images/paywithapple.png" style="height:16px;width: 39px;" alt="">
                    </button>
                </div>
                <div class="mt-2">
                    <button class="btn bg-black text-white w-100 py-2">
                       <img src="../../../../assets/images/gpay.png" style="height:16px;width: 39px;" alt="">
                    </button>
                </div>
                <div class="mt-2">
                    <button class="btn bg-black text-white w-100 py-2">
                       <span class="mx-1" style="font-size: 1rem;font-weight: 400;">Pay with</span> 
                       <img src="../../../../assets/images/klarna.png" style="height:12px;width: 39px;" alt="">
                    </button>
                </div>
                <div class="mt-3 fm-rubik" style="font-size: 0.857rem;color: #2C2C30;">
                    Terms & Conditions
                </div>
            </div>
        </div>
    </div>
</div>